{% include 'partials/header.html' %}
{% load material_form %}

<main>

<p class="flow-text">
    Bitte gebe uns ein ausführliches und ehrliches Feedback, damit wir SchoolApps noch besser machen können!
</p>

<form method="post">
    {% csrf_token %}
    {% form form=form %}
    {% endform %}
    <button type="submit" name="go" class="btn waves-effect waves-light green">
        Feedback senden
				<i class="material-icons right">send</i>
	</button>
</form>


</main>
{% include 'partials/footer.html' %}