{% include 'partials/header.html' %}
{% load material_form %}

<main>

<p class="flow-text">
    <strong>Feedback</strong>
</p>

<p class="flow-text">
    Bitte geben Sie und ein ausführliche und ehrliche Feedback, damit wir die SchoolApps noch besser machen können!
</p>

<form method="post">
    {% csrf_token %}
    {% form form=form %}
    {% endform %}
    <button type="submit" name="go" class="btn waves-effect waves-light green">
				Feedback einreichen
				<i class="material-icons right">send</i>
	</button>
</form>

<p>
	<strong>Wichtig: </strong>
	Bitte beachten Sie, dass ein Widerruf nach dem Absenden nicht mehr möglich ist.
</p>

</main>
{% include 'partials/footer.html' %}