{% include 'partials/header.html' %}

<main>

<p class="flow-text">Falls Sie Hilfe brauchen, da die Technik nicht funktioniert,
	nennen Sie uns einfach Ihren Raum, und geben Sie bitte auch Ihr Kürzel an.
	Danach tragen Sie unten bitte ein, was der Fehler ist.</p>

<form method="post" action="">

		<div class="row">
			<div class="col s12">
				<div class="input-field col s12 m6">
					<i class="material-icons prefix">room</i>
					<input type="text" id="room" name="room"  class="validate" required>
					<label for="room">Ihr Raum</label>
				</div>

				<div class="input-field col s12 m6">
					<i class="material-icons prefix">feedback</i>
					<select id="category" name="category" class="validate" required>
						<option value="" selected disabled>Bitte auswählen ...</option>
						<!--<?php
                $categories = get_categories();
                foreach ($categories as $item) {
                    $type = $item[0];
                    $entry = $item[1];
                    echo $entry."<br>";
                    if ($type == 0) {
                        // Überschrift
                        echo "</optgroup><optgroup label=\"$entry\">";
                    } else {
                        // Normaler Eintrag
                        echo "<option value=\"$entry\">$entry</option>";
                    }
                }
            ?>-->
                        <optgroup label="Gruppe">
                            <option value="$entry">Eintrag</option>
                            <option value="$entry">Eintrag</option>
                            <option value="$entry">Eintrag</option>
						</optgroup>
						<option value="Sonstiges">Sonstiges</option>
	  			</select>
					<label for="category">Kategorie</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">help</i>
				<input type="text" id="title" name="title" class="validate" required>
				<label for="title">Bitte beschreiben Sie Ihren Fehler <strong>in einem Satz</strong></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">mode_edit</i>
				<textarea id="message" name="message" class="materialize-textarea"></textarea>
				<label for="message">Bitte beschreiben Sie Ihren Fehler <strong>genauer</strong></label>
			</div>
		</div>

		<div id="go" class="row">
			<button type="submit" name="go" class="btn waves-effect waves-light green">
				Problem-/Fehlermeldung einreichen
				<i class="material-icons right">send</i>
			</button>
			<p>
				<strong>Wichtig: </strong>
				Bitte beachten Sie, dass ein Widerruf nach dem Absenden nicht mehr möglich ist.
			</p>
		</div>
</form>
</main>
{% include 'partials/footer.html' %}