{% include 'partials/header.html' %}
{% load material_form %}
{% load static %}

<main>

    <h5>Fehler melden – REBUS – REport-A-Bug-System</h5>

    <form method="post" id="rebus-form">
        {% csrf_token %}


        <p class="red-text">{{ form.non_field_errors }}</p>

        {# Filled by REACT #}
        <div id="dynselect"></div>

        <div class="row">
            <p class="red-text">{{ form.short_description.errors }}</p>
            <div class="input-field col s12 support-input-mobile">
                <i class="material-icons prefix">help</i>
                {{ form.short_description }}
                <label for="{{ form.short_description.id_for_label }}">Bitte beschreibe dein Problem<strong> in
                    einem Satz</strong></label>
            </div>
        </div>

        <div class="row">
            <p class="red-text">{{ form.long_description.errors }}</p>
            <div class="input-field col s12 support-input-mobile">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="{{ form.long_description.id_for_label }}" name="{{ form.long_description.html_name }}"
                          class="materialize-textarea"></textarea>

                <label for="{{ form.long_description.id_for_label }}">Bitte beschreibe dein Problem
                    <strong>genauer</strong> (optional)
                </label>
            </div>
        </div>

        <button type="submit" name="go" id="go" class="btn waves-effect waves-light green">
            Problem-/Fehlermeldung einreichen
            <i class="material-icons right">send</i>
        </button>
    </form>

    {# Provide props in JSON format #}
    {{ props|json_script:"props" }}
    <script>
        {# Read props as JS var#}
        var props = JSON.parse(document.getElementById('props').textContent);


        $('#go').click(function (event) {
            var el = $("#rebus-form").get(0);
            var valid = el.reportValidity();
            console.log(valid);
            if (!valid) {
                M.toast({html: "<i class='material-icons left'>error</i>Bitte fülle alle benötigten Felder aus!"})
            }
        });
    </script>

    {# Include React for dynamic select #}
    {% include "components/react.html" %}
    <script src="{% static "js/rebus.js" %}"></script>

</main>
{% include 'partials/footer.html' %}