{% include 'partials/header.html' %}
{% load material_form %}

<main>

<p class="flow-text">
    <strong>Fehler melden – REBUS – REport-A-Bug-System</strong>
</p>

<form method="post">
    {% csrf_token %}
    {% form form=form %}
    {% endform %}
    <button type="submit" name="go" class="btn waves-effect waves-light green">
				Problem-/Fehlermeldung einreichen
				<i class="material-icons right">send</i>
	</button>
</form>

<p>
	<strong>Wichtig: </strong>
	Bitte beachten Sie, dass ein Widerruf nach dem Absenden nicht mehr möglich ist.
</p>

</main>
{% include 'partials/footer.html' %}