{% include 'partials/header.html' %}
{% load material_form %}

<main>
    <h4>Anträge prüfen</h4>

    <table>
        <thead>
        <tr>
            <th>Antragsteller</th>
            <th>Anschaffungswunsch</th>
            <th>Geplante Kosten</th>
            <th>Buchungskonto</th>
            <th>Aktionen</th>
        </tr>
        </thead>

        <tbody>
        {% if not filter.qs %}
            <tr>
                <td colspan="5" class="flow-text center-align">
                    Keine offenen Anträge vorhanden
                </td>
            </tr>
        {% endif %}

        {% for booking in filter.qs %}
            <tr>
                <form method="POST" action="">
                    {% csrf_token %}

                    <input type="hidden" value="{{ booking.id }}" name="booking-id">
                    {% if booking.status < 2 %}
                        <td>{{ booking.contact }}</td>
                        <td>{{ booking.description }}</td>
                        <td>{{ booking.planned_amount }} €</td>
                        <td>{{ form.account }}</td>
                    {% endif %}
                    <td>
                        {% if booking.status < 2 %}
                            <button type="submit" name="allow"
                                    class="waves-effect waves-light btn-flat btn-flat-medium" title="Annehmen">
                                <i class="material-icons center green-text">check_circle</i>
                            </button>

                        {% endif %}
                        {% if booking.status < 3 %}
                            <button type="submit" name="deny" value="Blubb"
                                    class="waves-effect waves-light btn-flat btn-flat-medium" title="Ablehnen">
                                <i class="material-icons center red-text">not_interested</i>
                            </button>
                            </td>
                        {% endif %}
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>

{% include 'partials/footer.html' %}
