{% include 'partials/header.html' %}

<main>
    <h4>Anträge prüfen</h4>
    <div class="collection">
        {% for booking in filter.qs %}
            <span>{{ booking.contact }}</span>
            <span>{{ booking.description }}</span>
            <span>{{ booking.planned_amount }} €</span>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ booking.id }}" name="booking-id">
                {% if booking.status.id != 2 %}
                    <span>{{ form.costcenter }}</span>
                    <span>
                        <button type="submit" name="allow"
                        class="waves-effect waves-light btn-flat btn-flat-medium" title="Annehmen">
                        <i class="material-icons center green-text">check_circle</i>
                    </button>
                    </span>
                {% endif %}
            </form>
        {% endfor %}
    </div>
 </main>

{% include 'partials/footer.html' %}
