{% include 'partials/header.html' %}
{% load material_form %}

<main>
    <div class="right">
        {% if is_archive %}
            <a href="{% url 'booking' %}" class="waves-effect waves-light btn grey">Zur aktuellen Übersicht</a>
        {% else %}
            <a href="{% url 'booking' "archive" %}" class="waves-effect waves-light btn grey">Zum Archiv</a>
        {% endif %}

        <a href="{% url 'new_booking' %}" class="waves-effect waves-light btn green">Neue Buchung anlegen</a>&nbsp;
    </div>

    <h4>{% if is_archive %}Buchungsarchiv{% else %}Aktuelle Buchungen{% endif %}</h4>

    <table>
        <thead>
        <tr>
            <th>Anschaffungswunsch</th>
            <th class="right-align">Geplanter Betrag</th>
            <th>Kostenstelle</th>
            <th>Antragsteller</th>
            <th>Status</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        {% for booking in bookings %}
            <tr>
                <td>
                    <a href="{% url "booking_book" booking.id %}">{{ booking.description }}</a>
                </td>
                <td class="right-align">{{ booking.planned_amount }} €</td>
                <td>{{ booking.account|default:"" }}</td>
                <td>{{ booking.contact.get_full_name }}</td>
                <td>
                    <span class="badge new center-align {{ booking.get_status.style_class }}">
                        {{ booking.get_status.name }}
                    </span>
                </td>
                <td>
                    <span class="left">
                    <a class="waves-effect waves-light btn-flat btn-flat-medium green-text" title="Bearbeiten"
                       href="{% url "booking_book" booking.id %}">
                        <i class="material-icons">edit</i>
                    </a>
                    </span>
                    {% if booking.status < 2 %}
                        <form method="POST" class="left">
                            {% csrf_token %}
                            <input type="hidden" value="{{ booking.id }}" name="booking-id">
                            <button type="submit"
                                    onclick="return confirm('Wirklich löschen?')"
                                    name="cancel" class="waves-effect waves-light btn-flat btn-flat-medium red-text"
                                    title="Löschen">
                                <i class="material-icons center">cancel</i>
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</main>
{% include 'partials/footer.html' %}
