{% include 'partials/header.html' %}
{% load material_form %}

<main>

{#   <a href="{% url 'fibu_make_booking' %}" class="waves-effect waves-light btn green">Neuen Antrag stellen</a>#}

   {% block content %}

    <h4>Buchungskonten</h4>
    <form method="POST" style="border-width: 5px; background: #eee;">
        {% csrf_token %}
        {% form form=form %}
        {% endform %}
        <button type="submit" class="waves-effect waves-light btn green right">
            <i class="material-icons left">send</i> Buchungskonto anlegen
        </button>
    </form>

    <h4>Bestehende Buchungskonten</h4>
       <div class="collection">
           {% for account in accounts %}
               <div class="collection-item row">
                    <span class="col s12 m6">{{ account.name }}</span>
                    <span class="col s12 m2 right-align">{{ account.costcenter }}</span>
                    <span class="col s12 m2 right-align">{{ account.budget }}</span>
                    <span class="col s12 m2 right-align">
                        <form action="{% url 'account_edit' account.id %}" class="left">
                            {% csrf_token %}
                            <input type="hidden" value="{{ account.id }}" name="account-id">
                            <button type="submit" name="edit"
                                    class="waves-effect waves-light btn-flat btn-flat-medium" title="Bearbeiten">
                                <i class="material-icons center green-text">create</i>
                            </button>
                        </form>
                        <form action="" method="POST" class="left">
                            {% csrf_token %}
                                <input type="hidden" value="{{ account.id }}" name="account-id">
                                <button type="submit" onclick="return confirm('Wollen Sie das Buchungskonto wirklich löschen?')" name="cancel" class="waves-effect waves-light btn-flat btn-flat-medium" title="Löschen">
                                    <i class="material-icons center red-text">cancel</i>
                                </button>
                        </form>
                    </span>
           </div>
           {% endfor %}
       </div>
    {% endblock %}
</main>
{% include 'partials/footer.html' %}
