{% load i18n data_helpers %}

<ul class="collection">
  {% for version in obj.versions %}
    <li class="collection-item">
      <strong>
        {{ version.0.revision.get_comment }}
        {{ version.0.revision.user.person }}
      </strong>

      <div class="left" style="margin-right: 10px;">
        {% if forloop.first %}
          <i class="material-icons">add_circle</i>
        {% else %}
          <i class="material-icons">edit</i>
        {% endif %}
      </div>
      <div class="right">
        {{ version.0.revision.date_created }}
      </div>
      {% if version.1 %}
        <ul>
          {% for field, change in version.1.items %}
            {% verbose_name version.0.revision.content_type.app_label version.0.revision.content_type.model field as verbose_name %}
            <li>
              {{ verbose_name }}: <s>{{ change.0 }}</s> → {{ change.1 }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
