{% include 'partials/header.html' %}

<main>

    {% if form.errors %}
        <div class="alert error">
            <p>
                <i class="material-icons left">warning</i>
                Der Benutzername und/oder das Passwort ist falsch. Bitte probiere es
                nochmal.</p>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert error">
                <p>
                    <i class="material-icons left">warning</i>
                    Du darfst diese Seite leider nicht sehen.
                    Bitte probiere es mit einem anderen Benutzer.</p>
            </div>
        {% else %}
            <div class="alert error">
                <p>
                    <i class="material-icons left">warning</i>
                    Bitte melde dich an, um diese Seite zu sehen. </p>
            </div>
        {% endif %}
    {% endif %}
    <br>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="input-field">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="input-field">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>


        <button type="submit" class="waves-effect waves-light btn green">
            Anmelden
        </button>
        <input type="hidden" name="next" value="{{ next }}">

    </form>
</main>

{% include 'partials/footer.html' %}
