{% include 'partials/header.html' %}

<main>
    {% if form.errors %}
        <p class="flow-text red-text">Der Benutzername und/oder das Passwort ist falsch. Bitte probieren Sie es
            nochmal.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="flow-text red-text">Sie haben keine Erlaubnis, diese Seite zu sehen.
                Bitte probieren Sie es mit einem anderen Benutzer.</p>
        {% else %}
            <p class="flow-text red-text">Bitte melden Sie sich an, um diese Seite zu sehen.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="input-field">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="input-field">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>


        <button type="submit" class="waves-effect waves-light btn green">
            Anmelden
        </button>
        <input type="hidden" name="next" value="{{ next }}">

    </form>
</main>

{% include 'partials/footer.html' %}