include:
    - project: "AlekSIS/official/AlekSIS"
      file: /ci/general.yml
    - project: "AlekSIS/official/AlekSIS"
      file: /ci/test/test.yml
    - project: "AlekSIS/official/AlekSIS"
      file: /ci/test/lint.yml
    - project: "AlekSIS/official/AlekSIS"
      file: /ci/test/security.yml
    - project: "AlekSIS/official/AlekSIS"
      file: /ci/build/dist.yml
    - project: "AlekSIS/official/AlekSIS"
      file: /ci/publish/pypi.yml
    - project: "AlekSIS/official/AlekSIS"
      file: /ci/docker/image.yml
    - project: "AlekSIS/official/AlekSIS"
      file: "/ci/deploy/review.yml"
    - project: "AlekSIS/official/AlekSIS"
      file: "/ci/deploy/trigger_dist.yml"
    - project: "AlekSIS/official/AlekSIS"
      file: /ci/deploy/pages.yml
