*.aux
*.log
*.pyc
.idea
.idea/
__pycache__
aktuell.pdf
aktuell.tex
dynselect2/bundle.js
dynselect2/src/*
env/
media/
node_modules/
package-lock.json
schoolapps/latex/
schoolapps/log.django
secure*
staticcollect/
venv/
