Dominik George <dominik.george@teckids.org> Dominik George <nik@naturalnet.de>
Hangzhi Yu <hangzhi@protonmail.com> Hangzhi <hangzhi@protonmail.com>
Hangzhi Yu <hangzhi@protonmail.com> Hnagzhi <37748390+Hnagzhi@users.noreply.github.com>
Jonathan Weth <git@jonathanweth.de> HanseGucker <hansegucker@gmail.com>
Jonathan Weth <git@jonathanweth.de> HanseGucker <joniweth@gmx.de>
Jonathan Weth <git@jonathanweth.de> Jonathan Weth <edugit@jonathanweth.de>
Jonathan Weth <git@jonathanweth.de> Jonathan Weth <joniweth@gmx.de>
Jonathan Weth <git@jonathanweth.de> Jonathan Weth <mail@jonathanweth.de>
Jonathan Weth <git@jonathanweth.de> Jonathan Weth <wethjo@katharineum.de>
Julian Leucker <leuckerj@gmail.com> Julian <leuckerj@gmail.com>
Silas Della Contrada <s.developer@4-dc.de> sdcieo0330 <silasdc0@gmail.com>
mirabilos <thorsten.glaser@teckids.org> mirabilos <mirabilos@evolvis.org>
mirabilos <thorsten.glaser@teckids.org> mirabilos <t.glaser@tarent.de>
root (Skolelinux) <root@tjener.intern> root <root@tjener.intern>
root <root@katharineum.de> GitHub <noreply@github.com>
root <root@katharineum.de> root <root@info.katharineum.de>
