requests
mysqlclient
django<3.0
django-auth-ldap
django-dbsettings
django-pdb
django-material
django-filter
django_react_templatetags
PyPDF2
martor
django-pwa
django_widget_tweaks
python-memcached
ics
