{% include 'partials/header.html' %}
{% load material_form %}


<main>
    <h4>Antrag auf Unterrichtsbefreiung</h4>

    <form method = "POST" >
        {% csrf_token %}
{#        Von#}
{#        <input type="text" label="Von" input_formats=['%d.%m.%Y'] value="{{ from_dt }}" name="from_date" >#}
        {% form form=form %}
        {% endform %}
        <button type="submit" class="waves-effect waves-light btn green">
            <i class="material-icons left">send</i> Antrag stellen
        </button>
    </form>
</main>

{% include 'partials/footer.html' %}
