{% include 'partials/header.html' %}

<main>
    <p class="flow-text">
        <i class="material-icons left">check</i>
        Ihr Antrag auf Unterrichtsbefreiung wurde erfolgreich an die Schulleitung übermittelt und wird dort demnächst
        geprüft.
    </p>
    <a class="btn blue" href="{% url "aub_index" %}"><i class="material-icons left">arrow_back</i> Zurück zur Übersicht</a>
    <a class="btn green"href="{% url "dashboard" %}"><i class="material-icons left">home</i> Zurück zum Dashboard</a>
</main>

{% include 'partials/footer.html' %}
