{% include 'partials/header.html' %}
<main>
    <strong>
        Eingereicht am {{ aub.created_at.date }}
        von {{ aub.created_by.first_name }} {{ aub.created_by.last_name }}
    </strong>
    <h5>{{ aub.from_date }}, {{ aub.from_time }} Uhr bis <br />
        {{ aub.to_date }}, {{ aub.to_time }} Uhr </h5>
    <p><strong>Status: <span class="badge new {{ aub.status.style_classes }}">{{ aub.status.name }}</span></strong></p>
    <p><strong>Beschreibung:</strong> {{ aub.description }}</p>
    <hr>

</main>
{% include 'partials/footer.html' %}