{% include 'partials/header.html' %}
{% load material_form %}

<main>

    <a href="{% url 'aub_apply_for' %}" class="waves-effect waves-light btn green">Neuen Antrag stellen</a>

   {% block content %}

    <h4>Unterrichtsbefreiungen von <span class="item-text"><i class="material-icons">person</i>{{ user }}</span></h4>
    <ul class="collection">
        {% for aub in aubs %}
            <li class="collection-item">

                <div class="row">
                        <div class="col s12 m4">
                            <p class="title">
                                <span class="item-text">
                                <i class="material-icons">access_time</i>
                                  {{ aub.from_date }}, {{ aub.from_time }} Uhr &mdash; {{ aub.to_date }}, {{ aub.to_time }} Uhr
                                </span>
                            </p>
                            <p><a href="{% url 'aub_details' aub.id %}">{{ aub.description }}</a></p>
                        </div>
                        <div class="col s12 m2">
                            <p>
                                <span class="item-text">
                                <i class="material-icons">person</i>
                                {{ aub.created_by }}
                                </span>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                            {% if aub.status == 0 %}
                                <form action="{% url 'aub_edit' aub.id %}" class="left">
                                    {% csrf_token %}
                                    <button type="submit" name="edit" class="waves-effect waves-light btn-flat btn-flat-medium" title="Bearbeiten">
                                        <i class="material-icons center green-text">create</i>
                                    </button>
                                </form>
                            {% endif %}
                            {% if aub.status == 0 or aub.status == 1 %}
                                <form action="" method="POST" class="left">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ aub.id }}" name="aub-id">
                                    <button type="submit" onclick="return confirm('Wollen Sie den Antrag wirklich löschen?')" name="cancel" class="waves-effect waves-light btn-flat btn-flat-medium" title="Löschen">
                                        <i class="material-icons center red-text">cancel</i>
                                    </button>
                                </form>
                            {% endif %}
                            </p>

                        </div>
                        <div class="col s12 m2">
                            <p><span class="badge new {{ aub.getStatus.style_class }}">{{ aub.getStatus.name }}</span></p>
                        </div>
                    </div>
                
            </li>
        {% endfor %}
        {% if not aubs %}
            <li class="collection-item">
                Keine Anträge vorhanden
            </li>
        {% endif %}
    </ul>
    {% endblock %}
</main>
{% include 'partials/footer.html' %}
