{% include 'partials/header.html' %}
{% load material_form %}

<main>

    <a href="{% url 'aub_apply_for' %}" class="waves-effect waves-light btn green">Neuen Antrag stellen</a>

   {% block content %}

    <h5>Übersicht der Anträge</h5>
    <ul class="collection">
        {% for aub in aubs %}
            <li class="collection-item">

                <div class="row">
                        <div class="col s12 m4">
                            <p class="title">
                                <span class="item-text">
                                <i class="material-icons">access_time</i>
                                {{ aub.from_dt }} bis {{ aub.to_dt }}
                                </span>
                            </p>
                            <p><a href="{% url 'aub_details' aub.id %}">{{ aub.description }}</a></p>
                        </div>
                        <div class="col s12 m2">
                            <p>
                                <span class="item-text">
                                <i class="material-icons">person</i>
                                {{ aub.created_by }}
                                </span>
                            </p>
                        </div>
                        <div class="col s12 m4">
                            <p>
                            <form action="{% url 'aub_apply_for' %}" method="POST" class="right">
                                {% csrf_token %}
                                <input type="hidden" value="{{ aub.id }}" name="aub-id">
                                {% if aub.status_id == 1 %}
                                <button type="submit" name="edit" class="waves-effect waves-light btn-flat btn-flat-medium" title="Bearbeiten">
                                    <i class="material-icons center green-text">create</i>
                                </button>
                                {% endif %}
                            </form>
                            <form action="" method="POST" class="right">
                                {% csrf_token %}
                                <input type="hidden" value="{{ aub.id }}" name="aub-id">
                                {% if aub.status_id == 1 or aub.status_id == 2 %}
                                <button type="submit" onclick="return confirm('Wollen Sie den Antrag wirklich löschen?')" name="cancel" class="waves-effect waves-light btn-flat btn-flat-medium" title="Löschen">
                                    <i class="material-icons center red-text">cancel</i>
                                </button>
                                {% endif %}
                            </form>
                            </p>

                        </div>
                        <div class="col s12 m2">
                            <p><span class="badge {{ aub.status.style_classes }}">{{ aub.status.name }}</span></p>
                        </div>
                    </div>
                
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
</main>
{% include 'partials/footer.html' %}
