{% load widget_tweaks %}
{% include 'partials/header.html' %}
<main>
    <h4 class="h-with-subtitle">Du hast eine Frage?</h4>
    <p class="flow-text">
        Du hast eine Frage über SchoolApps oder andere Internetdienste des Katharineums und hast die Antwort auf deine
        Frage nicht in den
        <a href="{% url "faq" %}">FAQ</a>
        gefunden? Dann kannst du uns hier deine Frage stellen:
    </p>
    <form class="col s12" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <textarea id="{{ form.question.id_for_label }}" class="materialize-textarea validate"
                          name="{{ form.question.html_name }}" required></textarea>
                <label for="{{ form.question.id_for_label }}">{{ form.question.label }}</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light green" type="submit" name="action">Frage stellen
            <i class="material-icons right">send</i>
        </button>

    </form>
</main>
{% include 'partials/footer.html' %}