{% include 'partials/header.html' %}
<main>
    <h3 class="h-with-subtitle">Frage stellen</h3>
    <span class="grey-text subtitle">FAQ (frequently asked questions)</span>

     <ul class="collapsible">
         {% for question in questions %}
        <li>
            <div class="collapsible-header flow-text"><i class="material-icons">{% if question.icon %} {{ question.icon }} {% else %} question_answer {% endif %}</i>{{ question.question_text }}</div>
            <div class="collapsible-body"><span class="flow-text">{{ question.answer|safe }}</span></div>
        </li>
         {% endfor %}
  </ul>

</main>
{% include 'partials/footer.html' %}