{% include "mail/header.html" %}

<main>
    <blockquote>
        Bewertungen: {{ design }}/5 (Design), {{ performance }}/5 (Geschwindigkeit), {{ usability }}/5
        (Benutzerfreundlichkeit)

        Bewertung (insgesamt): {{ overall }}/10

        Pro/Contra: {{ apps }}

        Ideen/Wünsche: {{ ideas }}

        Sonstiges: {{ more }}

        <p>Übermittelt von {{ user.get_full_name }} ({{ user.username }})</p>
    </blockquote>

    <em>Dieses Feedback wurde über SchoolApps übermittelt.</em>
</main>
