{% include 'partials/header.html' %}
{% load material_form %}

<main>

   {% block content %}

    <h4>Neue Kostenstelle</h4>
    <form method="POST" style="border-width: 5px; background: #eee;">
        {% csrf_token %}
        {% form form=form %}
        {% endform %}
        <button type="submit" class="waves-effect waves-light btn green right">
            <i class="material-icons left">send</i> Kostenstelle anlegen
        </button>
    </form>

    <h4>Bestehende Kostenstellen</h4>
       <div class="collection">
           {% for costcenter in costcenterlist %}
               <div class="collection-item row">
                    <span class="col s12 m8">{{ costcenter.name }}</span>
                    <span class="col s12 m2 right-align">{{ costcenter.year }}</span>
                    <span class="col s12 m2 right-align">
                        <form action="{% url 'costcenter_edit' costcenter.id %}" class="left">
                            {% csrf_token %}
                            <input type="hidden" value="{{ costcenter.id }}" name="costcenter-id">
                            <button type="submit" name="edit"
                                    class="waves-effect waves-light btn-flat btn-flat-medium" title="Bearbeiten">
                                <i class="material-icons center green-text">create</i>
                            </button>
                        </form>
                        <form action="" method="POST" class="left">
                            {% csrf_token %}
                                <input type="hidden" value="{{ costcenter.id }}" name="costcenter-id">
                                <button type="submit" onclick="return confirm('Wollen Sie die Kostenstelle wirklich löschen?')" name="cancel" class="waves-effect waves-light btn-flat btn-flat-medium" title="Löschen">
                                    <i class="material-icons center red-text">cancel</i>
                                </button>
                        </form>
                    </span>
           </div>
           {% endfor %}
       </div>
    {% endblock %}
</main>
{% include 'partials/footer.html' %}
