/**********/
/* COMMON */
/**********/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.primary-color {
    background-color: #da1f3d !important;
}

.primary-color-text, .primary-color-text a {
    color: #da1f3d !important;
}

/**********/
/* HEADER */
/**********/

.brand-logo {
    margin-left: 10px;
}

/********/
/* MAIN */
/********/

main {
    padding: 10px 20px;
    flex: 1 0 auto;
}

/***********/
/* SIDENAV */
/***********/

ul.sidenav.sidenav-fixed li.logo {
    margin-top: 32px;
    margin-bottom: 50px;
}

ul.sidenav.sidenav-fixed .brand-logo {
    margin: 0;
}

.logo img {
    width: 250px;
}

header a.sidenav-trigger {
    position: absolute;
    left: 7.5%;
    top: 0;

    height: 64px;
    font-size: 38px;

    float: none;

    text-align: center;
    color: white;

    z-index: 2;
}

header div.nav-wrapper {
    z-index: -5;
}

header, main, footer {
    margin-left: 300px;
}


.footer-icon {
    font-size: 22px !important;
    vertical-align: middle;
}


@media only screen and (min-width: 1384px) {
    .footer-row-large {
        display: flex;
        align-items: center;
    }

    .footer-row-small {
        display: none;
    }
}

@media only screen and (max-width: 1383px) {
    .footer-row-large {
        display: none;
    }

    .footer-row-small {
        display: block;
    }
}

ul.footer-ul {
    display: inline-block;
    text-align: right;
    float: right;
}

.make-it-higher {
    vertical-align: middle;
    line-height: 36px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        margin-left: 0;
    }
}

/* Collections */

ul.collection .collection-item .title {
    font-weight: bold;
}

.section {
    padding: 0;
}

form .row {
    margin-top: 0;
    margin-bottom: 0;
}

/* Badges */

span.badge.new::after {
    content: "";
}

span.badge.new {
    font-size: 1rem;
    line-height: 26px;
    height: 26px;
}

span.badge.new.no-float {
    float: none;
    padding: 3px 6px;
}

span.badge .material-icons {
    font-size: 0.9rem;
}

/*+++++++++++*/
/* Timetable */
/*+++++++++++*/
.smart-plan-badge {
    margin: 5px 20px 5px 0;
}

li.active > a > .sidenav-badge {
    background-color: whitesmoke !important;
    color: #DA3D56 !important;
}

.timetable-plan .row, .timetable-plan .col {
    display: flex;
    padding: 0 .25rem;
}

.timetable-plan .row {
    margin-bottom: .25rem;
}

.lesson-card, .timetable-title-card {
    margin: 0;
    display: flex;
    flex-grow: 1;
}

.lesson-card .card-content {
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.lesson-card .card-content div {
    padding: 3px;
    flex: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable-title-card .card-content {
    padding: 10px;
    text-align: center;
    width: 100%;
}

.timetable-mobile-title-card {
    margin-top: 50px;
    margin-bottom: .60rem;
}

.timetable-mobile-title-card:first-child {
    margin-top: -10px;
    margin-bottom: .60rem;
}

.timetable-mobile-title-card .card-content {
    padding: 10px;
    text-align: center;
    width: 100%;
}

.timetable-mobile-title-card .card-content .card-title {
    font-weight: bold;
}

table.substitutions td, table.substitutions th {
    padding: 10px 5px;
}

.lesson-with-sub {
    border: 3px solid red;
    border-radius: 3px;
}

.lesson-with-sub .badge {
    margin: 0;
}

.lesson-with-event {
    border: 3px solid #9c27b0;
    border-radius: 3px;
}

.lesson-card a, .substitutions a {
    color: black;
}

/*.timetable-time {*/
/*margin-right: 20px;*/
/*}*/

/*+++++++++*/
/* Buttons */
/*+++++++++*/

.btn-flat-large {
    line-height: 60px;
    height: 60px;
}

.btn-flat-large i {
    font-size: 4rem;
}

.btn-flat-medium {
    line-height: 40px;
    height: 40px;
}

.btn-flat-medium i {
    font-size: 2rem;
}

.btn-timetable-quicklaunch {
    margin: 1%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.05) !important;
    color: black;
}

.btn-timetable-quicklaunch:hover {
    background-color: #da1f3d !important;
    color: whitesmoke;
}

.no-margin {
    margin: 0 !important;
}

.valign-middle {
    vertical-align: middle;
}

.valign-top {
    vertical-align: top;
}

.valign-bot {
    vertical-align: bottom;
}

.height-inherit {
    height: 100%;
}

/* Table*/

table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(208, 208, 208, 0.5);
}

/*+++++++*/
/* Print */
/*+++++++*/
#print-header {
    display: none;
}

.print-icon {
    margin-top: 1.52rem;
}

@media print {
    body {
        font-size: 15px;
    }

    header, main, footer {
        margin-left: 0;
    }

    ul.sidenav {
        display: none !important;
        transform: translateX(-105%) !important;
    }

    nav {
        display: none;
    }

    .sidenav-trigger {
        display: none;
    }

    #print-header {
        display: block;
        border-bottom: 1px solid;
        margin-bottom: 0;
    }

    #print-header .col.right-align {
        padding: 15px;
    }

    main, header {
        padding: 0;
    }

    footer, footer .footer-copyright, footer .container {
        background-color: white !important;
        color: black !important;
    }

    footer a {
        display: none;
    }

    .footer-copyright, .footer-copyright .container {
        padding: 0 !important;
        margin: 0 !important;
    }

    .no-print {
        display: none;
    }
}

.alert ul, .alert p {
    margin: 0;
}

.alert > p, .alert > div {
    margin: 10px;
    padding: 10px;
    border-left: 5px solid;
}

.alert.success > p, .alert.success > div {
    background-color: #c5e1a5;
    border-color: #4caf50;
}

.alert.error > p, .alert.error > div {
    background-color: #ef9a9a;
    border-color: #b71c1c;
}

.alert.primary > p, .alert.primary > div {
    background-color: #ececec;
    border-color: #da1f3d;
}

.alert.warning p, .alert.warning div {
    background-color: #ffb74d;
    border-color: #e65100;
}

main .alert p:first-child, main .alert div:first-child {
    margin-left: -10px;
    margin-right: -10px;
}

.btn, .btn-large, .btn-small {
    background-color: #0f9d58;
}

.btn:hover, .btn-large:hover, .btn-small {
    background-color: #DA1F3D;
}

/*++++++++++++++++
FEEDBACK
++++++++++++++++*/

.rating {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    min-width: 150px;
    max-width: 600px;
    justify-content: flex-end;
}

@media only screen and (max-width: 992px) {
    .rating {
        margin-top: 12px;
        min-height: 40px;
        justify-content: space-around;
    }

    ´
}

.rating label {
    display: flex;
    flex: 1;
    position: relative;
    cursor: pointer;
}

.rating label:after {
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    position: absolute;
    color: #777;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    content: 'star_border';
}

.rating input {
    display: none !important;
}

.rating > input:checked + label:after,
.rating > input:checked ~ label:after {
    content: "star";
    color: #FFD700;
}

.rating > input:hover + label:after,
.rating > input:hover ~ label:after {
    content: "star";
    color: #FFD700;
}

.support-input-mobile label {
    line-height: 1rem;
}

.span-info {
    width: 24px;
    vertical-align: middle;
}

i.collapsible-trigger {
    margin-right: -10px;

}

.collapsible .collapsible-trigger::before {
    content: 'arrow_downward';
}

.collapsible .collapsible-trigger.v2::before {
    content: 'more_vert';
}

.collapsible .active .collapsible-trigger::before {
    content: 'arrow_upward';
}


.scroll-fix {
    max-height: 300px;
    overflow: scroll;
}

.waves-effect.waves-katharineum .waves-ripple {
    background-color: rgba(218, 31, 61, 0.65);
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-pad-left {
    padding-left: 0 !important;
}

.no-pad-right {
    padding-right: 0 !important;
}

.sidenav a:not(.collapsible-header) {
    padding: 0 16px;
}
ul.sidenav li.logo > a:hover{
    background: None!important;
}

.waves-effect.waves-primary .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: #da1f3d;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a > i, .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a > i {
    color: #fff;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active, .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #DA3D56;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #da1f3d;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #ea4661;
}

/*section:not(:last-of-type) {*/
/*    border-bottom: solid #bdbdbd 2px;*/
/*}*/

/*++++++++
+HOLIDAYS+
++++++++++ */

.holiday-badge{
    float: left !important;
    position: relative;
    margin-left: 0% !important;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    height: auto !important;
    min-height: 26px;
}

/* Dashboard */

.card-action-badge {
    float: left !important;
    margin-left: 0 !important;
    margin-top: -3px;
    margin-right: 10px;
}

.event-card {
    padding: 10px;
}

.event-card .title {
    font-size: 18px;
    font-weight: 500;
}


.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.hundred-percent {
    width: 100%;
}

.badge-image {
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
    background-color: #da1f3d;
    color: white;
    padding: 2px 10px;
    border-radius: 0 3px 3px 0;
    text-transform: uppercase;
    font-weight: 300;
}

.center-via-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center2-via-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner-primary {
    border-color: #da1f3d;
}

.dashboard-cards {
    -webkit-column-break-inside: avoid;
    column-count: 3;
}

@media (min-width: 800px) and (max-width: 1460px) {
    .dashboard-cards {
        column-count: 2;
    }
}

@media (max-width: 800px) {
    .dashboard-cards {
        column-count: 1;
    }
}


.dashboard-cards .card {
    display: inline-block;
    overflow: visible;
    width: 100%;
}