/**********/
/* COMMON */
/**********/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.primary-color {
    background-color: #da1f3d !important;
}

.primary-color-text {
    color: #da1f3d !important;
}

/**********/
/* HEADER */
/**********/

.brand-logo {
    margin-left: 10px;
}

/********/
/* MAIN */
/********/

main {
    padding: 10px 20px;
    flex: 1 0 auto;
}

/***********/
/* SIDENAV */
/***********/

ul.sidenav.sidenav-fixed li.logo {
    margin-top: 32px;
    margin-bottom: 50px;
}

ul.sidenav.sidenav-fixed .brand-logo {
    margin: 0;
}

.logo img {
    width: 250px;
}

header a.sidenav-trigger {
    position: absolute;
    left: 7.5%;
    top: 0;

    height: 64px;
    font-size: 38px;

    float: none;

    text-align: center;
    color: white;

    z-index: 2;
}

header, main, footer {
    margin-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        margin-left: 0;
    }
}

/* Collections */

ul.collection .collection-item .title {
    font-weight: bold;
}

.section {
    padding: 0;
}

form .row {
    margin-top: 0;
    margin-bottom: 0;
}

/* Badges */

span.badge.new::after {
    content: "";
}

span.badge.new {
    font-size: 1rem;
    line-height: 26px;
    height: 26px;
}

span.badge.no-float {
    float: none;
}
/*span.badge {*/
/*width: 9em;*/
/*line-height: 4ex;*/
/*height: 4ex;*/
/*}*/
/*span.badge::after {*/
/*content: "";*/
/*}*/

/*span.item-text {*/
/*line-height: 4ex;*/
/*vertical-align: bottom;*/
/*}*/

/*+++++++++++*/
/* Timetable */
/*+++++++++++*/
.smart-plan-badge {
    margin: 5px 20px 5px 0;
}

.timetable-plan .row, .timetable-plan .col {
    display: flex;
    padding: 0 .25rem;
}

.timetable-plan .row {
    margin-bottom: .25rem;
}

.lesson-card, .timetable-title-card {
    margin: 0;
    display: flex;
    flex-grow: 1;
}

.lesson-card .card-content {
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.lesson-card .card-content div {
    padding: 3px;
    flex: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable-title-card .card-content {
    padding: 10px;
    text-align: center;
    width: 100%;
}

.timetable-mobile-title-card{
    margin-top: 50px;
    margin-bottom: .60rem;
}

.timetable-mobile-title-card:first-child{
    margin-top: -10px;
    margin-bottom: .60rem;
}

.timetable-mobile-title-card .card-content{
    padding: 10px;
    text-align: center;
    width: 100%;
}

.timetable-mobile-title-card .card-content .card-title{
    font-weight: bold;
}

table.substitutions td, table.substitutions th {
    padding: 10px 5px;
}

.lesson-with-sub {
    border: 3px solid red;
    border-radius: 3px;
}

.lesson-with-sub .badge {
    margin: 0;
}

.lesson-card a {
    color: black;
}

/*.timetable-time {*/
/*margin-right: 20px;*/
/*}*/

/*+++++++++*/
/* Buttons */
/*+++++++++*/

.btn-flat-large {
    line-height: 60px;
    height: 60px;
}

.btn-flat-large i {
    font-size: 4rem;
}

.btn-flat-medium {
    line-height: 40px;
    height: 40px;
}

.btn-flat-medium i {
    font-size: 2rem;
}

.btn-timetable-quicklaunch {
    margin: 1%;
    width: 30%;
}

.no-margin {
    margin: 0;
}

/* Table*/

table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(208, 208, 208, 0.5);
}

/*+++++++*/
/* Print */
/*+++++++*/
#print-header {
    display: none;
}

@media print {
    body {
        font-size: 15px;
    }

    header, main, footer {
        margin-left: 0;
    }

    ul.sidenav {
        display: none !important;
        transform: translateX(-105%) !important;
    }

    nav {
        display: none;
    }

    .sidenav-trigger {
        display: none;
    }

    #print-header {
        display: block;
        border-bottom: 1px solid;
        margin-bottom: 0;
    }

    #print-header .col.right-align {
        padding: 15px;
    }

    main, header {
        padding: 0;
    }

    footer, footer .footer-copyright, footer .container {
        background-color: white !important;
        color: black !important;
    }

    footer a {
        display: none;
    }

    .footer-copyright, .footer-copyright .container {
        padding: 0 !important;
        margin: 0 !important;
    }

    .no-print {
        display: none;
    }
}

.alert p {
    margin: 10px;
    padding: 10px;
    border-left: 5px solid;
}

.alert.success p {
    background-color: #c5e1a5;
    border-color: #4caf50;
}

.alert.error p {
    background-color: #ef9a9a;
    border-color: #b71c1c;
}

main .alert p {
    margin-left: -10px;
    margin-right: -10px;
}
.btn, .btn-large, .btn-small {
    background-color: #282E3F;
}

.btn:hover, .btn-large:hover, .btn-small {
    background-color: #DA1F3D;
}

/*++++++++++++++++
FEEDBACK
++++++++++++++++*/

.rating {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    min-width: 150px;
    max-width: 600px;
    justify-content: flex-end;
}

@media only screen and (max-width: 992px) {
    .rating{
        margin-top: 12px;
        min-height: 40px;
        justify-content: space-around;
    }
}

.rating label {
  display: flex;
  flex: 1;
  position: relative;
  cursor: pointer;
}
.rating label:after {
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  position: absolute;
  color: #777;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  content: 'star_border';
}
.rating input {
  display: none!important;
}
.rating > input:checked + label:after,
.rating > input:checked ~ label:after {
  content: "star";
  color: #FFD700;
}
.rating > input:hover + label:after,
.rating > input:hover ~ label:after {
  content: "star";
  color: #FFD700;
}

.support-input-mobile label {
  line-height: 1rem;
}

.span-info{
  width: 24px;
  vertical-align: middle;
}

/*++++++++
+HOLIDAYS+
++++++++++ */

.holiday-badge{
    float: left !important;
    position: relative;
    margin-left: 0% !important;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    height: auto !important;
    min-height: 26px;
}