main {
    padding: 10px;
}

.brand-logo {
    margin-left: 10px;
}

header, main, footer {
    margin-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        margin-left: 0;
    }
}

ul.sidenav.sidenav-fixed li.logo {
    margin-top: 32px;
    margin-bottom: 50px;
}

ul.sidenav.sidenav-fixed .brand-logo {
    margin: 0;
}

ul.sidenav.sidenav-fixed li.logo img {
    width: 250px;
}

.primary-color {
    background-color: #da1f3d;
}