{# -*- engine:django -*- #}
{% load menu_generator font_awesome i18n %}
    {% get_menu "FOOTER_MENU_CORE" as footer_menu %}
    {% for item in footer_menu %}
     {% if item.submenu %}
      <div class="col-xs-12 col-sm-4 ">
      <h5>{{ item.name }}</h5>
       <ul class="list-unstyled quick-links">
        {% for menu in item.submenu %}
         <li><a href="{{ menu.url }}">{% fa 'fa-angle-double-right' %} {{ menu.name }}</a></li>
        {% endfor %}
       </ul>
      </div>
     {% endif %}
      <div class="col-xs-12 col-sm-4 ">
       <h5>{% blocktrans %}Assorted{% endblocktrans %}</h5>
        <ul class="list-unstyled quick-links">
         {% for item in footer_menu %}
          {% if not item.submenu %}
           <li><a href="{{ item.url }}">{% fa 'fa-angle-double-right' %} {{ item.name }}</a></li>
          {% endif %}
         {% endfor %}
        </ul>
      </div>
