{% extends "core/base.html" %}

{% load i18n %}

{% block browser_title %}{% trans "Change password" %}{% endblock %}
{% block page_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="card green">
      <div class="card-content white-text">
        <div class="card-title">
          <i class="material-icons small left">success</i>
          {% blocktrans %}Password changed{% endblocktrans %}
        </div>
        <p>
          {% blocktrans %}
            Your password is now changed.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
