{% extends "core/base.html" %}

{% load i18n material_form %}

{% block browser_title %}{% trans "Change password" %}{% endblock %}
{% block page_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
  {% if token_fail %}
    <div class="container">
      <div class="card red">
        <div class="card-content white-text">
          <div class="material-icons small left">error_outline</div>
          <span class="card-title">{% blocktrans %}Bad token!{% endblocktrans %}</span>
          <p>
            {% url 'account_reset_password' as passwd_reset_url %}
            {% blocktrans %}
              The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}
              If this issue persists, please contact one of your site
              administrators
            {% endblocktrans %}
          </p>
          {% include "core/partials/admins_list.html" %}
        </div>
      </div>
    </div>
  {% else  %}
    {% if form %}
      <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        {% trans "Change password" as caption %}
        {% include "core/partials/save_button.html" with caption=caption icon="priotity_high" %}
      </form>
    {% else %}
      <div class="alert success">
        <p>
          <i class="material-icons left">success</i>
          {% blocktrans %}
            Your password is now changed!
          {% endblocktrans %}
        </p>
      </div>
    {% endif %}
  {% endif %}

{% endblock %}
