{% extends "core/base.html" %}

{% load i18n material_form %}

{% block browser_title %}{% trans "Reset password" %}{% endblock %}
{% block page_title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
  <div class="alert warning">
    <p>
      <i class="material-icons left">warning</i>
      {% blocktrans %}Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it..{% endblocktrans %}
    </p>
  </div>

  <div class="alert warning">
    <p>
      <i class="material-icons left">warning</i>
      {% blocktrans %}Please contact one of your site administrators, if you
      have any troblue resetting your password:{% endblocktrans %}
    </p>
    {% include "core/partials/admins_list.html" %}
  </div>

  <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    {% trans "Reset password" as caption %}
    {% include "core/partials/save_button.html" with caption=caption icon="priotity_high" %}
  </form>

{% endblock %}
