{% extends "bootstrap3/bootstrap3.html" %}
{% load menu staticfiles i18n %}
{% load menu %}

{% block bootstrap3_title %}BiscuIT School Information System{% endblock %}

{% block bootstrap3_extra_head %}
 <link rel="stylesheet" href="{% static 'style.css' %}" />
 <link rel="shortcut icon" href="#" />
{% endblock %}

{% block bootstrap3_content %}
 <nav class="navbar navbar-default">
  <div class="container-fluid">
   <div class="navbar-header page-scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
     <span class="sr-only">Toggle navigation</span>
     <span class="glyphicon glyphicon-th-list"></span>
    </button>
    <a class="navbar-brand" href="{% url "index" %}">
     <span class="glyphicon glyphicon-briefcase"></span> BiscuIT School Information System
    </a>
   </div>

   <div class="collapse navbar-collapse" id="navbar-main">
    {% generate_menu %}
    <ul class="nav navbar-nav navbar-right">
     {% with menu=menus.main %}{% include "bootstrap-navbar.html" %}{% endwith %}
    </ul>
   </div>
  </div>
 </nav>

 <div class="container">
  <h1>{% block page_title %}{% endblock %}</h1>
  <div class="row">
   {% block content %}{% endblock %}
  </div>
 </div>
{% endblock %}
