{% extends "bootstrap4/bootstrap4.html" %}
{% load bootstrap4 menu staticfiles font_awesome any_js %}

{% block bootstrap4_title %}BiscuIT School Information System{% endblock %}

{% block bootstrap4_extra_head %}
 {% include_css "DataTables" %}
 <link rel="stylesheet" href="{% static 'style.css' %}" />
 <link rel="shortcut icon" href="#" />
{% endblock %}

{% block bootstrap4_extra_script %}
 {% include_js "DataTables" %}
 <script type="text/javascript" src="{% static 'js/main.js' %}" /></script>
{% endblock %}

{% block bootstrap4_content %}
 <nav class="navbar navbar-light bg-light navbar-expand-md">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-main">
     {% fa 'fa-align-justify' %}
    </button>
    <a class="navbar-brand" href="{% url "index" %}">
     <span class="glyphicon glyphicon-briefcase"></span> BiscuIT School Information System
    </a>
   </div>

   <div class="collapse navbar-collapse" id="navbar-main">
    {% generate_menu %}
    <ul class="nav navbar-nav ml-auto">
     {% with menu=menus.main %}{% include "bootstrap4-navbar.html" %}{% endwith %}
    </ul>
   </div>
  </div>
 </nav>

 <div class="container">
  {% bootstrap_messages %}

  <h1>{% block page_title %}{% endblock %}</h1>

  {% block content %}{% endblock %}
 </div>
{% endblock %}
