{# -*- engine:django -*- #}
{% extends "bootstrap4/bootstrap4.html" %}
{% load bootstrap4 i18n menu_generator staticfiles font_awesome any_js sass_tags %}


{% block bootstrap4_extra_head %}
 {% fa_css %}
 {% include_css "DataTables-Bootstrap4" %}
 {% include 'core/icons.html' %}
 <link rel="stylesheet" href="{% sass_src 'bootstrap_modified.scss' %}" />
 <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block bootstrap4_title %}BiscuIT School Information System{% endblock %}

{% block bootstrap4_extra_script %}
 {% include_js "DataTables" %}
 {% include_js "DataTables-Bootstrap4" %}
 <script type="text/javascript" src="{% static 'js/main.js' %}" /></script>
{% endblock %}

{% block bootstrap4_content %}
 <header>
 <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-main">
     {% fa 'fa-align-justify' %}
    </button>
    <a class="navbar-brand" href="{% url "index" %}">
     {% fa 'fa-briefcase' %} BiscuIT SIS
    </a>

   <div class="collapse navbar-collapse" id="navbar-main">
    <ul class="nav navbar-nav ml-auto">
     {% with menu=NAV_MENU_CORE %}{% include "core/bootstrap4-navbar.html" %}{% endwith %}
    </ul>
   </div>
 </nav>
 </header>

 <main role="main" class="container">
  {% include 'core/no_person.html' %}

  {% bootstrap_messages %}

  <h1>{% block page_title %}{% endblock %}</h1>

  {% block content %}{% endblock %}
 </main>
 <footer class="footer text-dark bg-light mt-auto">
  <div class="container-fluid">
   <div class="row text-center text-xs-center text-sm-left text-md-left text-dark">
    {% with menu=FOOTER_MENU_CORE %}{% include "core/footer-menu.html" %}{% endwith %}
   </div>
   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-dark">
     <p>
      <a class="font-weight-bold text-dark" href="https://biscuit.edugit.org/">BiscuIT - The Free School Information System</a> © The BiscuIT Team @ <a class="font-weight-bold text-dark" href="https://www.teckids.org">Teckids e.V.</a>
     </p>
    </div>
   </div>
  </div>
 </footer>
{% endblock %}
