{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load bootstrap4 menu_generator %}

<title>{% block bootstrap4_title %}{% blocktrans %}BiscuIT SIS - administration{% endblocktrans %}{% endblock % </title>

{% block page_title %}BiscuIT administration{% endblock %}

{% block content %}
{% get_menu "DATA_MANAGEMENT_MENU" as data_menu %}
<ul>
 {% for item in data_menu %}
  {% if item.submenu %}
   <li><a href="{{ item.url }}">{{ item.name }}</a></li>
    <ul>
     {% for menu in item.submenu %}
      <li><a href="{{ menu.url }}">{{ menu.name }}</a></li>
     {% endfor %}
    </ul>
  {% else %}
   <li><a href="{{ item.url }}">{{ item.name }}</a></li>
  {% endif %}
 {% endfor %}
</ul>
{% endblock %}
