{# -*- engine:django -*- #}

{% extends "core/base.html" %}
{% load bootstrap4 i18n %}

{% block bootstrap4_extra_head %}
  {{ block.super }}
  {{ edit_group_form.media.css }}
{% endblock %}

{% block bootstrap4_extra_script %}
  {{ block.super }}
  {{ edit_group_form.media.js }}
{% endblock %}

{% block bootstrap4_title %}{% blocktrans %}Edit group{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_title %}{% blocktrans %}Edit group{% endblocktrans %}{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form edit_group_form %}
    <button type="submit" class="btn btn-dark">
      {% blocktrans %}Edit{% endblocktrans %}
    </button>
  </form>

{% endblock %}
