{# -*- engine:django -*- #}

{% extends "core/base.html" %}

{% load bootstrap4 i18n %}

{% block bootstrap4_title %}{% blocktrans %}Edit school term{% endblocktrans %} - {{ block.super}}{% endblock %}

{% block page_title %}{% blocktrans %}Edit school term{% endblocktrans %}{% endblock %}

{% block bootstrap4_extra_head %}
  {{ block.super }}
  {{ edit_school_form.media }}
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form edit_term_form %}
    <button type="submit" class="btn btn-dark">
      {% blocktrans %}Edit{% endblocktrans %}
    </button>
  </form>

{% endblock %}
