{# -*- engine:django -*- #}

{% extends "core/base.html" %}

{% load bootstrap4 i18n %}

{% block page_title %}
  {% blocktrans %}
    BiscuIT School Information System (SIS)
  {% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <p>
      {% blocktrans %}
        BiscuIT is a web-based school information system (SIS) which can be used to
        manage and/or publish organisational data of educational institutions.
      {% endblocktrans %}
    </p>
  </div>
{% endblock %}
