{% load staticfiles %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if person.jpeg_photo_url %}
        <img class="person-img" src="{{ person.jpeg_photo_url }}" alt="{{ person.first_name }} {{ person.last_name }}" />
      {% else %}
        <img class="person-img" src="{% static 'img/fallback.png' %}" alt="{{ person.first_name }} {{ person.last_name }}" />
      {% endif %}
    </div>
    <div class="col-md-8">
      <h3 class="card-header">{{ person.first_name }} {{ person.last_name }}</h3>
      <div class="card-body">
        <h5 class="card-text">!Group</h5>
        <p class="card-text">{{ person.date_of_birth|date }}</p>
      </div>
    </div>
  </div>
</div>
