{# -*- engine:django -*- #}
{% extends "core/base.html" %}
{% load i18n font_awesome %}

{% block bootstrap4_title %}{% blocktrans %}System status{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_title %}{% blocktrans %}System status{% endblocktrans %}{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header bg-light text-dark">
      {% blocktrans %}System checks{% endblocktrans %}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
       {% if maintenance_mode %} 
        <div>
          <p>{% blocktrans %}Maintenance mode enabled{% endblocktrans %}</p>
          <p class="text-muted small">{% blocktrans%}Only admin and visitors from internal IPs can access the site.{% endblocktrans %}</p>
        </div>
        <a href="{% url 'maintenance_mode_off' %}" class="float-right btn btn-danger">{% fa 'toggle-on' %}</a>
        <span class="badge badge-danger">{% fa 'times' %}</span>
       {% else %}
        <div>
          <p>{% blocktrans %}Maintenance mode disabled{% endblocktrans %}</p>
          <p class="text-muted small">{% blocktrans%}Everyone can access the site.{% endblocktrans %}</p>
        </div>
        <a href="{% url 'maintenance_mode_on' %}" class="float-right btn btn-success">{% fa 'toggle-off' %}</a>
        <span class="badge badge-success">{% fa 'check' %}</span>
       {% endif %}
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
       {% if debug_mode %}
        <div>
          <p>{% blocktrans %}Debug mode enabled{% endblocktrans %}</p>
          <p class="text-muted small">{% blocktrans%}The web server throws back debug informations on errors. Do not use in production!{% endblocktrans %}</p>
        </div>
        <span class="badge badge-danger">{% fa 'times' %}</span>
       {% else %}
        <div>
          <p>{% blocktrans %}Debug mode disabled{% endblocktrans %}</p>
          <p class="text-muted small">{% blocktrans%}Debug mode is disabled. Default error pages are displayed on errors.{% endblocktrans %}</p>
        </div>
        <span class="badge badge-success">{% fa 'check' %}</span>
        {% endif %}
      </li>
    </ul>
  </div>

  <div class="card">
    <div class="card-header bg-light text-dark">
      {% blocktrans %}Recent backup cron jobs{% endblocktrans %}
    </div>
    <ul class="list-group list-group-flush">
      {% for backup in backups %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <p>{{ backup.end_time }}</p>
          </div>
          {% if backup.is_success %}
            <span class="badge badge-success">{% fa 'check' %}</span>
          {% else %}
            <span class="badge badge-danger">{% fa 'times' %}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
