<footer class="page-footer primary-color">
    <div class="footer-copyright">
        <div class="container">
            © 2019 Computer-AG, Katharineum zu Lübeck
            <span class="right">
                <a class="grey-text text-lighten-4" href="https://katharineum-zu-luebeck.de/impressum/">Impressum</a>
                ·
                <a class="grey-text text-lighten-4" href="https://katharineum-zu-luebeck.de/datenschutzerklaerung/">Datenschutzerklärung</a>
            </span>
        </div>
    </div>
</footer>
</body>
</html>
