{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SchoolApps – Katharineum zu Lübeck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--------->
    <!-- CSS -->
    <!--------->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
          href="{% static 'materialize/dist/css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'common/style.css' %}">

    <!---------------->
    <!-- JavaScript -->
    <!---------------->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'materialize/dist/js/materialize.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Initialize sidenav [MAT]
            $(".sidenav").sidenav();

            // Initialize datepicker [MAT]
            $('.datepicker').datepicker({
                format: 'dd.mm.yyyy',
                // Translate to German
                i18n: {
                    months: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                    monthsShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                    weekdays: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                    weekdaysShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                    weekdaysAbbrev: ['S', 'M', 'D', 'M', 'D', 'F', 'S'],

                    // Buttons
                    today: 'Heute',
                    clear: 'Löschen',
                    done: 'OK',
                },

                // Set monday as first day of week
                firstDay: 1,
                //autoClose: true
            });

            // Initialize timepicker [MAT]
            $('.timepicker').timepicker({
                twelveHour: false,
                //autoClose: true,
                cancelText: 'Abbrechen',
                clearText: 'Löschen',
                doneText: 'OK'
            });
        });

    </script>
</head>
<body>
<header>
    <!-- Menu button (sidenav) -->
    <div class="container">
        <a href="#" data-target="slide-out" class="top-nav sidenav-trigger hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </div>

    <!-- Nav bar (logged in as, logout) -->
    <nav class="primary-color">
        <a class="brand-logo" href="#">SchoolApps</a>

        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li>Angemeldet als {{ user.get_username }}</li>
                    <li><a href="{% url 'logout' %}">Abmelden</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Main nav (sidenav) -->
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li class="logo">
            <a id="logo-container" href="/" class="brand-logo">
                <img src="{% static 'common/logo.png' %}">
            </a>
        </li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'aub_index' %}">Antrag auf Unterrichtsbefreiung</a></li>
            <li><a href="{% url 'logout' %}">Abmelden</a></li>
        {% endif %}
    </ul>
</header>
