{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SchoolApps – Katharineum zu Lübeck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'common/favicon.ico' %}"/>

    <!--------->
    <!-- CSS -->
    <!--------->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'materialize/dist/css/materialize.min.css' %}">

    <!-- django-material -->
    {#    {% include 'material/includes/material_css.html' %}#}

    <link rel="stylesheet" type="text/css" href="{% static 'common/style.css' %}">
    <!---------------->
    <!-- JavaScript -->
    <!---------------->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'materialize/dist/js/materialize.min.js' %}"></script>
    <script src="{% static 'common/helper.js' %}"></script>
    <!-- django-material -->
    {#    {% include 'material/includes/material_js.html' %}#}

</head>
<body>
<header>
    <!-- Menu button (sidenav) -->
    <div class="container">
        <a href="#" data-target="slide-out" class="top-nav sidenav-trigger hide-on-large-only">
            <i class="material-icons">menu</i>
        </a>
    </div>

    <!-- Nav bar (logged in as, logout) -->
    <nav class="primary-color">
        <a class="brand-logo" href="#">SchoolApps</a>

        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li>Angemeldet als {{ user.get_username }}</li>
                    <li><a href="{% url 'logout' %}">Abmelden <i class="material-icons right">exit_to_app</i></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div id="print-header" class="row">
        <div class="col s6 logo"><img src="{% static 'common/logo.png' %}"></div>
        <div class="col s6 right-align">
            <strong>SchoolApps</strong><br>
            Katharineum zu Lübeck
        </div>
    </div>

    <!-- Main nav (sidenav) -->
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li class="logo">
            <a id="logo-container" href="/" class="brand-logo">
                <img src="{% static 'common/logo.png' %}">
            </a>
        </li>

        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="material-icons">home</i> Dashboard
                </a>
            </li>

            {% if perms.aub.apply_for_aub or perms.aub.check1_aub or perms.aub.check2_aub %}
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader grey lighten-3">Lehrerfunktionen</a></li>
            {% endif %}
            {% if perms.aub.apply_for_aub %}
                <li><a href="{% url 'aub_index' %}"><i class="material-icons">business_center</i> Unterrichtsbefreiungen</a>
                </li>
            {% endif %}
            {% if perms.aub.check1_aub %}
                <li><a href="{% url 'aub_check1' %}"><i class="material-icons">done</i> Anträge genehmigen 1</a></li>
            {% endif %}
            {% if perms.aub.check2_aub %}
                <li><a href="{% url 'aub_check2' %}"><i class="material-icons">done_all</i> Anträge genehmigen 2</a>
                </li>
            {% endif %}
            {% if perms.aub.apply_for_aub or perms.aub.check1_aub or perms.aub.check2_aub %}
                <li>
                    <div class="divider"></div>
                </li>
            {% endif %}
            {% if perms.timetable.show_plan %}
                <li>
                    <a class="subheader grey lighten-3">Stundenplan</a>
                </li>
                <li>
                    <a href="{% url 'timetable_my_plan' %}" style="padding-right: 10px;">
                        <i class="material-icons">person</i> Mein Plan
                        <span class="badge new primary-color ">SMART PLAN</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'timetable_admin_all' %}">
                        <i class="material-icons">grid_on</i> Alle Pläne
                    </a>
                </li>
                <li>
                    <a href="{% url 'timetable_quicklaunch' %}">
                        <i class="material-icons">directions</i> Schnellzugriff
                    </a>
                </li>
                <li>
                    <a href="{% url 'timetable_substitutions' %}">
                        <i class="material-icons">person</i> Vertretungsplan
                    </a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
            {% endif %}

            <li>
                <a class="subheader grey lighten-3">Speiseplan</a>
            </li>
            <li>
                <a href="{% url 'menu_show_current' %}" target="_blank">
                    <i class="material-icons">picture_as_pdf</i> Aktueller Speiseplan
                </a>
            </li>
            {% if perms.menu.add_menu %}
                <li>
                    <a href="{% url 'menu_index' %}">
                        <i class="material-icons">restaurant_menu</i> Speiseplan hochladen
                    </a>
                </li>
            {% endif %}
            <li>
                <div class="divider"></div>
            </li>

            {% if user.is_superuser %}
                <li>
                    <a class="subheader grey lighten-3">Administration</a>
                </li>
                <li>
                    <a href="/admin/">
                        <i class="material-icons">dashboard</i> Django-Administration
                    </a>
                </li>
                <li>
                    <a href="/settings/">
                        <i class="material-icons">settings</i> Einstellungen
                    </a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'logout' %}">
                    <i class="material-icons">exit_to_app</i> Abmelden
                </a>
            </li>
        {% endif %}
    </ul>
</header>
<header class="alert-success">
    <p>
        <i class="material-icons left">info</i>
        Du befindest dich in der Testversion von SchoolApps. Daher kann es immer mal wieder zu unvorhergesehenen
        Problemen kommen. Es würde uns sehr helfen, wenn du uns dann über
        <a href="mailto:support@katharineum.de">support@katharineum.de</a> schreibst.
    </p>
</header>