{% include 'partials/header.html' %}

<main>
    <h3>Impressum</h3>

    <p>
        <strong>Katharineum zu Lübeck</strong> <br>
        Königsstraße 27-31 <br>
        23552 Lübeck
    </p>

    <p>
        <strong>Kommissarischer Schulleiter:</strong> Herr StD Poetzsch-Heffter <br>
        <strong>E-Mail:</strong> schulleiter@katharineum.de
    </p>

    <p>
        <strong>Schulträger:</strong> Hansestadt Lübeck <br>
        vertreten durch den Bürgermeister Bernd Saxe
    </p>

    <p>
        <strong>Entwicklung und Betreuung von <i>SchoolApps</i>:</strong> Herr Poetzsch-Heffter und die Computer-AG
    </p>

    <h4>Disclaimer – rechtliche Hinweise</h4>
    <strong><i><u>TODO</u></i></strong><br>
    Haftungsausschluss (Aktualität, Richtigkeit, etc.)<br>
    Datenschutz, Datenverarbeitung (Weitergabe an Dritte?, etc.)<br>
    Sicherheit (Verschlüsselung, generell Sicherheitsprobleme möglich)

</main>

{% include 'partials/footer.html' %}
