{% extends "core/base.html" %}

{% load i18n material_form %}

{% block browser_title %}{% trans "Connections" %}{% endblock %}
{% block page_title %}{% trans "Connections" %}{% endblock %}

{% block content %}
  {% if form.accounts %}

    <form method="post" action="{% url 'socialaccount_connections' %}">
      {% csrf_token %}
      <ul class="collection with-header">
        {% if form.non_field_errors %}
          <div id="errorMsg">{{ form.non_field_errors }}</div>
        {% endif %}
           <li class="collection-header"><h4>{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}</h4></li>
        {% for base_account in form.accounts %}
          {% with base_account.get_provider_account as account %}
            <li class="collection-item">
              <div>
                <label for="id_account_{{ base_account.id }}">
                  <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                  <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
                  {{ account }}
                </label>
              </div>
            </li>
          {% endwith %}
        {% endfor %}

        <div>
          <button type="submit" class="btn waves-effect waves-light red">
            <i class="material-icons left">delete_forever</i>{% trans "Remove" %}
          </button>
        </div>

      </fieldset>
    </form>

  {% else %}
    <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
  {% endif %}

  <h5>{% trans 'Add a 3rd Party Account' %}</h5>

  {% include "socialaccount/snippets/provider_list.html" with process="connect" %}

{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
