{% include "partials/header.html" %}


<main>
    <h3>Leider existiert diese Seite nicht. (Fehler 404)</h3>

    <p class="flow-text">
        Beim Aufrufen dieser Seite ist ein Fehler aufgetreten. Wahrscheinlich existiert die gewünschte Seite unter der
        Adresse "<code id="url"></code>" nicht.

        Solltest du der Meinung sein, dass diese Seite eigentlich existieren müsste, wende dich bitte an die
        <a href="mailto:support@katharineum.de">Computer-AG</a>.
    </p>

</main>

<script>
    document.getElementById("url").innerHTML = window.location.pathname;
</script>

{% include 'partials/footer.html' %}
