{% include 'partials/header.html' %}

<main>
    {% if msg == "success" %}
        {% msg_box "Der Speiseplan wurde erfolgreich hochgeladen." "green" %}
    {% endif %}
    <script type="text/javascript">

        $('#alert_close').click(function () {
            $("#alert_box").fadeOut("slow", function () {
            });
        });
    </script>
    <a class="waves-effect waves-light btn green" href="{% url "menu_upload" %}"><i class="material-icons left">add</i>
        Neuen Speiseplan hochladen</a>
    <a class="waves-effect waves-light btn" href="{% url "menu_show_current" %}"><i class="material-icons left">picture_as_pdf</i>
        Aktuellen Speiseplan anzeigen</a>
    <h5>Übersicht der hochgeladenen Speisepläne</h5>
    <ul class="collection">
        {% for menu in menus %}
            <li class="collection-item ">
                <span class="title">{{ menu }}</span>
                <p>
                    <a class="btn-flat" href="/media/{{ menu.pdf }}" target="_blank">
                        <i class="material-icons left">picture_as_pdf</i> PDF anzeigen
                    </a>
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        {% endfor %}
    </ul>
</main>
{% include 'partials/footer.html' %}
