{% include 'partials/header.html' %}
<main>
    <h5>Speiseplan hochladen</h5>
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <p class="red-text">{{ form.non_field_errors }}</p>
        <div class="row">
            <div class="input-field col s5">
                <div class="red-text">{{ form.calendar_week.errors }}</div>
                {#                <label for="{{ form.calendar_week.id_for_label }}">Kalenderwoche</label>#}
                <small>Kalenderwoche</small>
                {{ form.calendar_week }}
            </div>
            <div class="col s2 center-align">
                <small>&nbsp;</small>
                <h4>/</h4>
            </div>
            <div class="input-field col s5">
                <div class="red-text">{{ form.year.errors }}</div>
                {#                <label for="{{ form.year.id_for_label }}">Jahr</label>#}
                <small>Jahr</small>
                {{ form.year }}
            </div>
        </div>
        <div class="file-field input-field">
            <div class="red-text">
                {{ form.pdf.errors }}
            </div>
            <div class="btn">
                <span><i class="material-icons center">cloud_upload</i> </span>
                <input type="file" name="{{ form.pdf.html_name }}">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <button class="waves-effect waves-light btn green" type="submit">
            <i class="material-icons left">cloud_upload</i>
            Speiseplan hochladen und veröffentlichen
        </button>
    </form>

    <p><a href="{% url 'menu_index' %}" class="waves-effect waves-teal btn-flat">Zurück zur Übersicht</a></p>
</main>
{% include 'partials/footer.html' %}