{% include 'partials/header.html' %}

<main>
    <h4>Anträge prüfen</h4>
    <table class="highlight">
    <thead>
    <tr>
        <th>Beschreibung</th>
        <th class="flushright">Erwarteter Betrag</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
        {% for booking in filter.qs %}
            <tr>
            <td>{{ booking.description }}</td>
            <td class="flushright">{{ booking.planned_amount }} €</td>
            <td><span class="badge new {{ booking.getStatus.style_class }}">{{ booking.getStatus.name }}</span></td>
            <td>
                <form action="" method="POST" class="right">
                    {% csrf_token %}
                    <input type="hidden" value="{{ booking.id }}" name="aub-id">
                    {% if booking.status.id != 2 %}
                        <button type="submit" name="allow"
                            class="waves-effect waves-light btn-flat btn-flat-large" title="Annehmen">
                            <i class="material-icons center green-text">check_circle</i>
                        </button>
                    {% endif %}
                    {% if booking.status.id != 3 %}
                        <button type="submit" name="deny"
                             class="waves-effect waves-light btn-flat btn-flat-large" title="Ablehnen">
                             <i class="material-icons center red-text">not_interested</i>
                        </button>
                    {% endif %}
                </form>
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>


 </main>

{% include 'partials/footer.html' %}
