{% include 'partials/header.html' %}
{% load material_form %}

<main>

{#   <a href="{% url 'fibu_make_booking' %}" class="waves-effect waves-light btn green">Neuen Antrag stellen</a>#}

   {% block content %}

    <h4>Beantragungen von {{ user }}</h4>
    <form method="POST" style="border-width: 5px; background: #eee">
        {% csrf_token %}
        {% form form=form %}
        {% endform %}
        <button type="submit" class="waves-effect waves-light btn green right">
            <i class="material-icons left">send</i> Antrag stellen
        </button>
    </form>

    <h4>Laufende Anträge</h4>
       <div class="collection">
           {% for booking in bookings %}
               <div class="collection-item row">
                    <span class="col s12 m8">{{ booking.description }}</span>
                    <span class="col s12 m1 right-align">{{ booking.planned_amount }} €</span>
                    <span class="col s12 m1 badge new center-align {{ booking.getStatus.style_class }}">{{ booking.getStatus.name }}</span>
                    <span class="col s12 m2 right-align">
                    {% if booking.status == 0 %}
                        <form action="{% url 'booking_edit' booking.id %}" class="left">
                            {% csrf_token %}
                            <input type="hidden" value="{{ booking.id }}" name="booking-id">
                            <button type="submit" name="edit"
                                    class="waves-effect waves-light btn-flat btn-flat-medium" title="Bearbeiten">
                                <i class="material-icons center green-text">create</i>
                            </button>
                        </form>
                    {% endif %}
                    {% if booking.status == 0 or booking.status == 1 %}
                        <form action="" method="POST" class="left">
                            {% csrf_token %}
                                <input type="hidden" value="{{ booking.id }}" name="booking-id">
                                <button type="submit" onclick="return confirm('Wollen Sie den Antrag wirklich löschen?')" name="cancel" class="waves-effect waves-light btn-flat btn-flat-medium" title="Löschen">
                                    <i class="material-icons center red-text">cancel</i>
                                </button>
                        </form>
                    {% endif %}
                    </span>
                    <form action="" method="POST" class="col s12 m1 left">
                        {% csrf_token %}
                        <input type="hidden" value="{{ booking.id }}" name="booking-id">
                        <input type="hidden" value="{{ booking.status }}" name="booking-status">
                        {% if booking.status == 1 %}
                            <button type="submit" name="ordered"
                                class="waves-effect waves-light btn-flat btn-flat-medium left" title="Status auf 'bestellt' ändern">
                                <i class="material-icons center red-text">shopping_cart</i>
                            </button>
                        {% elif booking.status == 3 %}
                            <button type="submit" name="submit-invoice"
                                class="waves-effect waves-light btn-flat btn-flat-medium left" title="Status auf 'Rechnung eingereicht' ändern">
                                <i class="material-icons center red-text">description</i>
                            </button>
                        {% endif %}
                    </form>
           </div>
           {% endfor %}
       </div>
    {% endblock %}
</main>
{% include 'partials/footer.html' %}
