{% include 'partials/header.html' %}
{% load material_form %}

<main>

{#   <a href="{% url 'fibu_make_booking' %}" class="waves-effect waves-light btn green">Neuen Antrag stellen</a>#}

   {% block content %}

    <h4>Beantragungen von {{ user }}</h4>
    <form method="POST" style="border-width: 5px;">
        {% csrf_token %}
        {% form form=form %}
        {% endform %}
        <button type="submit" class="waves-effect waves-light btn green">
            <i class="material-icons left">send</i> Antrag stellen
        </button>
    </form>

    <h4>Laufende Anträge</h4>
       <div class="collection">
           {% for booking in bookings %}
               STATUS_ID: {{ booking.status }}
               <div class="collection-item row">
{#            <a href="{% url 'booking_edit' booking.id %}"  class="collection-item row"> #}
                    <span class="col s12 m8">{{ booking.description }}</span>
                    <span class="col s12 m2 flushright">{{ booking.planned_amount }} €</span>
                    <span class="col s12 m1 badge new {{ booking.getStatus.style_class }}">{{ booking.getStatus.name }}</span>
                    <form action="{% url 'booking_edit' booking.id %}" class="col s12 m1">
                        {% csrf_token %}
                        <input type="hidden" value="{{ booking.id }}" name="booking-id">
                        {% if booking.status == 0 %}
                            <button type="submit" name="edit"
                                    class="waves-effect waves-light btn-flat btn-flat-large" title="Bearbeiten">
                                <i class="material-icons center green-text">create</i>
                            </button>
                        {% endif %}
                    </form>
                     <form action="{% url 'fibu_index'  %}" class="col s12 m1">
                        {% csrf_token %}
                        <input type="hidden" value="{{ booking.id }}" name="booking-id">
                        <input type="hidden" value="{{ booking.status }}" name="booking-status">
                        {% if booking.status == 1 %}
                            <button type="submit" name="order"
                                class="waves-effect waves-light btn-flat btn-flat-large" title="Status auf 'bestellt' ändern">
                                <i class="material-icons center red-text">shopping_cart</i>
                            </button>
                        {% endif %}
                    </form>
{#           </a>#}
           </div>
           {% endfor %}
       </div>
    {% endblock %}
</main>
{% include 'partials/footer.html' %}
