{% if sub.sub.type == 3 %}
    <strong>Aufsicht</strong>
{% elif not sub.sub.subject_new and not sub.sub.subject_old %}
{% elif sub.sub.type == 1 or sub.sub.type == 2 %}
    <s>{{ sub.sub.subject_old.shortcode }}</s>
{% elif sub.sub.subject_new and sub.sub.subject_old %}
    <s>{{ sub.sub.subject_old.shortcode }}</s> →
    <strong>{{ sub.sub.subject_new.shortcode }}</strong>
{% elif sub.sub.subject_new and not sub.sub.subject_old %}
    <strong>{{ sub.sub.subject_new.shortcode }}</strong>
{% else %}
    <strong>{{ sub.sub.subject_old.shortcode }}</strong>
{% endif %}