{% if not sub.is_event %}
    {% if sub.sub.type == 1 and sub.sub.teacher_old %}
        <span class="tooltipped" data-position="bottom"
              data-tooltip="{{ sub.sub.teacher_old.name }}">
            <a href="{% url "timetable_smart_plan" "teacher" sub.sub.teacher_old.id %}">
                <s>{{ sub.sub.teacher_old.shortcode }}</s>
            </a>
        </span>
    {% elif sub.sub.teacher_new and sub.sub.teacher_old %}
        <span class="tooltipped" data-position="bottom"
              data-tooltip="{{ sub.sub.teacher_old.name }} → {{ sub.sub.teacher_new.name }}">
            <a href="{% url "timetable_smart_plan" "teacher" sub.sub.teacher_old.id %}">
                <s>{{ sub.sub.teacher_old.shortcode }}</s>
            </a>
            →
            <a href="{% url "timetable_smart_plan" "teacher" sub.sub.teacher_new.id %}">
                <strong>{{ sub.sub.teacher_new.shortcode }}</strong>
            </a>
        </span>
    {% elif sub.sub.teacher_new and not sub.sub.teacher_old %}
        <span class="tooltipped" data-position="bottom"
              data-tooltip="{{ sub.sub.teacher_new.name }}">
            <a href="{% url "timetable_smart_plan" "teacher" sub.sub.teacher_new.id %}">
                <strong>{{ sub.sub.teacher_new.shortcode }}</strong>
            </a>
        </span>
    {% elif sub.sub.teacher_old %}
        <span class="tooltipped" data-position="bottom"
              data-tooltip="{{ sub.sub.teacher_old.name }}">
            <a href="{% url "timetable_smart_plan" "teacher" sub.sub.teacher_old.id %}">
                <strong>{{ sub.sub.teacher_old.shortcode }}</strong>
            </a>
        </span>
    {% endif %}
{% else %}
    {% for teacher in sub.teachers %}
        <span class="tooltipped" data-position="bottom"
              data-tooltip="{{ teacher.name }}">
            <a href="{% url "timetable_smart_plan" "teacher" teacher.id %}">
                <strong>{{ teacher.shortcode }}{% if not forloop.last %},{% endif %}</strong>
            </a>
        </span>
    {% endfor %}
{% endif %}