{# -*- engine:django -*- #}


{% load i18n menu_generator static sass_tags any_js pwa %}


<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="AlekSIS is a web-based school information system (SIS) which can be used to manage and/or publish organisational data of educational institutions.">

  <title>AlekSIS - School Information System</title>

  {# Favicons #}
  <link href="{% static "icons/favicon_16.png" %}" rel="icon" type="image/png" sizes="16x16">
  <link href="{% static "icons/favicon_32.png" %}" rel="icon" type="image/png" sizes="32x32">
  <link href="{% static "icons/favicon_48.png" %}" rel="icon" type="image/png" sizes="48x48">

  <!-- PWA -->
  {% progressive_web_app_meta %}

  {# CSS #}
  {% include_css "material-design-icons" %}
  <link rel="stylesheet" href="{% sass_src 'style.scss' %}">

  {# Include jQuery to provide $(document).ready #}
  {% include_js "jQuery" %}
</head>
<body>

<header>
  <!-- Menu button (sidenav) -->
  <div class="container">
    <a href="#" data-target="slide-out" class="top-nav sidenav-trigger hide-on-large-only">
      <i class="material-icons">menu</i>
    </a>
  </div>

  <!-- Nav bar (logged in as, logout) -->
  <nav>
    <a class="brand-logo" href="/">AlekSIS</a>

    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li>{% trans "Logged in as" %} {{ user.get_username }}</li>
          <li>
            <a href="{% url 'logout' %}">{% trans "Logout" %} <i class="material-icons right">exit_to_app</i></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- Main nav (sidenav) -->
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li class="logo">
      <a id="logo-container" href="/" class="brand-logo">
        <img src="{% static 'img/aleksis-logo.png' %}" alt="AlekSIS Logo" style="height: 70px; width:auto;">
      </a>
    </li>
    <li class="no-padding">
      {% include "core/sidenav.html" %}
    </li>
  </ul>
</header>


<main role="main">
  {% include 'core/no_person.html' %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
        <p>
          {% if message.tags == "success" %}
            <i class="material-icons left">check_circle</i>
          {% elif  message.tags == "info" %}
            <i class="material-icons left">info</i>
          {% elif  message.tags == "warning" %}
            <i class="material-icons left">warning</i>
          {% elif  message.tags == "error" %}
            <i class="material-icons left">error</i>
          {% endif %}
          {{ message }}
        </p>
      </div>
    {% endfor %}
  {% endif %}

  <h4>{% block page_title %}{% endblock %}</h4>

  {% block content %}{% endblock %}
</main>


<footer class="page-footer">
  <div class="container">
    <div class="row no-margin footer-row-large">
      <div class="col l6 s12 no-pad-left height-inherit">
        <p class="white-text valign-bot">
          {% include 'core/language_form.html' %}

        </p>
      </div>
      <div class="col xl15 l6 offset-xl01 s12 no-pad-right">
        <ul class="no-margin right">
          {% include "core/footer-menu.html" %}
        </ul>
      </div>
    </div>
    <div class="row no-margin footer-row-small">
            <span class="white-text make-it-higher">
  {% include 'core/language_form.html' %}

            </span>
      <ul class="no-margin footer-ul">
        {% include "core/footer-menu.html" %}
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="left">
        <a class="blue-text text-lighten-4" href="https://aleksis.edugit.org/">
          AlekSIS — The Free School Information System
        </a>
        © The AlekSIS Team @
        <a class="blue-text text-lighten-4" href="https://www.teckids.org">
          Teckids e.V.
        </a>
        and
        <a class="blue-text text-lighten-4" href="https://katharineum-zu-luebeck.de">
          Katharineum zu Lübeck
        </a>
      </div>
      <div class="right">
        <span id="doit"></span>
        {% if DB_SETTINGS.footer.impress_url %}
          <a class="blue-text text-lighten-4" href="{{ DB_SETTINGS.footer.impress_url }}">
            {% trans "Impress" %}
          </a>
        {% endif %}
        {% if DB_SETTINGS.footer.privacy_url and DB_SETTINGS.footer.impress_url %}
          ·
        {% endif %}
        {% if DB_SETTINGS.footer.privacy_url %}
          <a class="blue-text text-lighten-4" href="{{ DB_SETTINGS.footer.privacy_url }}">
            {% trans "Privacy Policy" %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</footer>


{% include_js "materialize" %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
