{# -*- engine:django -*- #}

{% extends "core/base.html" %}

{% load i18n static %}
{% load render_table from django_tables2 %}

{% block content %}
  <h4>{{ group.name }} <small class="grey-text">{{ group.short_name }}</small></h4>
  <p>
    <a href="{% url 'edit_group_by_id' group.id %}" class="btn waves-effect waves-light">
      <i class="material-icons left">edit</i>
      {% trans "Edit" %}
    </a>
  </p>

  <h5>{% blocktrans %}Owners{% endblocktrans %}</h5>
  {% render_table owners_table %}

  <h5>{% blocktrans %}Members{% endblocktrans %}</h5>
  {% render_table members_table %}

{% endblock %}
