{# -*- engine:django -*- #}

{% extends "core/base.html" %}

{% load i18n static %}
{% load render_table from django_tables2 %}

{% block browser_title %}{{ group.name }}{% endblock %}

{% block content %}
  <h4>{{ group.name }} <small class="grey-text">{{ group.short_name }}</small></h4>
  <p>
    <a href="{% url 'edit_group_by_id' group.id %}" class="btn waves-effect waves-light">
      <i class="material-icons left">edit</i>
      {% trans "Edit" %}
    </a>
  </p>

  <h5>{% blocktrans %}Statistics{% endblocktrans %}</h5>
  <ul>
    <li>
     {% trans "Count of members" %}: {{ stats.members }}
    </li>
    {% if stats.age_avg %}
     <li>
      {% trans "Average age" %}: {{ stats.age_avg|floatformat }}
     </li>
    {% endif %}
    {% if stats.age_range_min %}
     <li>
      {% trans "Age range" %}: {{ stats.age_range_min }} {% trans "years to" %} {{ stats.age_range_max }} {% trans "years "%}
     </li>
    {% endif %}
  </ul>

  <h5>{% blocktrans %}Owners{% endblocktrans %}</h5>
  {% render_table owners_table %}

  <h5>{% blocktrans %}Members{% endblocktrans %}</h5>
  {% render_table members_table %}

{% endblock %}
