{% load i18n static pwa %}

{# Basic meta #}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{ global_preferences.general__description }}">

{# Favicons #}
<link href="{% static "icons/favicon_16.png" %}" rel="icon" type="image/png" sizes="16x16">
<link href="{% static "icons/favicon_32.png" %}" rel="icon" type="image/png" sizes="32x32">
<link href="{% static "icons/favicon_48.png" %}" rel="icon" type="image/png" sizes="48x48">

{# PWA meta #}
{% progressive_web_app_meta %}
