<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<style>
    main {
        padding: 10px;
    }
</style>

<main>
    <p>Hallo {{ notification.user.get_full_name }}, <br>
        wir haben eine neue Nachricht für Sie:</p>
    <blockquote>
        <p>{{ notification.description }}</p>
        {% if notification.link %}
            <a href="{{ notification.link }}">Weitere Informationen →</a>
        {% endif %}
    </blockquote>
    <p>Von {{ notification.app }} am {{ notification.created_at }}</p>

    <i>Ihr SchoolApps-Team</i>
</main>