{% include 'partials/header.html' %}
{% load material_form %}
{% load martortags %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/highlight.min.css" %}">
<script src="{% static "js/highlight.min.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>

<style>
    .debug-li {
        line-height: 2;
    }

    .debug-icon {
        font-size: 2.5rem;
    }
</style>

<main>
    <a class="btn-flat waves-effect waves-teal right btn-flat-medium" href="{% url "debug_logs" %}"><i
            class="material-icons refresh center">refresh</i></a>

    <h4>Debuggingtool</h4>


    <h5>Schnellüberblick</h5>
    <div class="row">
        {% for group in groups %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content">
                        <i class="material-icons right {{ group.is_successful|yesno:"green,red" }}-text debug-icon">{{ group.is_successful|yesno:"check_circle,error" }}</i>
                        <span class="card-title">{{ group.name }}</span>
                        <ul>
                            {% for log in group.logs.all %}
                                <li class="debug-li">
                                    <i class="material-icons right {{ log.is_successful|yesno:"green,red" }}-text">{{ log.is_successful|yesno:"check_circle,error" }}</i>
                                    {{ log.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-action">
                        <a href="#{{ group.id }}">
                            Log anzeigen
                        </a>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>


    <h5>Logs</h5>
    {% for group in groups %}
        <div class="card" id="{{ group.id }}">
            <div class="card-content">
                <i class="material-icons right {{ group.is_successful|yesno:"green,red" }}-text medium">{{ group.is_successful|yesno:"check_circle,error" }}</i>
                <span class="card-title">{{ group.name }}</span>
                <pre>{{ group.desc_as_pre|default:" " }}</pre>
                {% for log in group.logs.all %}
                    <div>
                        <i class="material-icons right {{ log.is_successful|yesno:"green,red" }}-text small">{{ log.is_successful|yesno:"check_circle,error" }}</i>

                        <h5>{{ log.name }} </h5>
                        <p><i class="material-icons left">access_time</i> {{ log.updated_at }}</p>
                        <pre><code class="plaintext scroll-fix">RETURN CODE: {{ log.return_code }}

{{ log.get_file_content }}
                    </code></pre>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</main>

{% include 'partials/footer.html' %}
