{% include 'partials/header.html' %}

<main>
    <h3>Übersicht</h3>
    <div class="row">
        <div class="col s12 m4">
            <h4>Lehrkräfte</h4>
            <ul class="collection">
                {% for teacher in teachers %}
                    <li class="collection-item avatar">
                        <i class="circle">{{ teacher.shortcode }}</i><!-- Shortcode -->
                        <a href="{% url 'timetable_plan' 'teacher' teacher.id %}">{{ teacher.first_name }}
                            <strong>{{ teacher.name }}</strong></a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col s12 m4">
            <h4>Klassen</h4>
            <ul class="collection">
                {% for class in classes %}
                    <li class="collection-item avatar">
                        <i class="circle">{{ class.name }}</i>
                        <a href="{% url 'timetable_plan' 'class' class.id %}"><strong>{{ class.name }}</strong></a>
                        <p>
                            {{ class.text1|default:"" }} – {{ class.text2|default:"" }} <br>
                            Raum: {{ class.room.name|default:"---" }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col s12 m4">
            <h4>Räume</h4>
            <ul class="collection">
                {% for room in rooms %}
                    <li class="collection-item avatar">
                        <i class="circle">{{ room.shortcode }}</i>
                        <a href="{% url 'timetable_plan' 'room' room.id %}"><strong>{{ room.name }}</strong></a>
                    </li>
                {% endfor %}
            </ul>
        </div>


    </div>

</main>

{% include 'partials/footer.html' %}
