{% include 'partials/header.html' %}
{% load material_form %}
{% load martortags %}

<main>
    {% if msg %}
        <div class="alert success">
            <p>
                <i class="material-icons left">check_circle</i>
                Der Hinweis wurde erfolgreich {% if msg == "success_edit" %}gespeichert. {% else %}
                gelöscht. {% endif %}
            </p>
        </div>
    {% endif %}
    <h4>Hinweise</h4>


    <div class="card">
        <form method="GET" class="card-content">
            <a href="{% url 'timetable_add_hint' %}" class="waves-effect waves-light btn green">
                <i class="material-icons left">add</i>
                Neuen Hinweis erstellen
            </a>
            {% form form=f.form %}
            {% endform %}
            <button type="submit" class="waves-effect waves-light btn">
                <i class="material-icons left">refresh</i> Filter aktualisieren
            </button>
            <a class="waves-effect waves-light btn red" href="{% url "timetable_hints" %}">
                <i class="material-icons left">clear</i> Filter entfernen
            </a>
        </form>
    </div>

    <ul class="collapsible">
        {% for hint in f.qs %}
            <li>
                <div class="collapsible-header row no-margin">
                    <i class="material-icons">keyboard_arrow_down</i>

                    <div class="col s10">
                        <strong>{{ hint.from_date }} &mdash; {{ hint.to_date }}</strong> für
                        <strong>
                            {% for class in hint.classes.all %}
                                {{ class }},
                            {% endfor %}
                        </strong>
                        {% if hint.teachers %}
                            <span class="badge new green no-float no-margin">Lehrkräfte</span>
                        {% else %}
                            <span class="badge new red no-float no-margin">Lehrkräfte</span>
                        {% endif %}
                    </div>
                    <div class="col s2">
                        <div class="right">
                            <i class="material-icons center">more_vert</i>
                        </div>
                    </div>

                </div>
                <div class="collapsible-body row">
                    <div class="right">
                        <a class="btn-flat waves-effect waves-teal green-text"
                           href="{% url "timetable_edit_hint" hint.id %}">
                            <i class="material-icons left">edit</i>
                            <span class="hide-on-small-only">Bearbeiten</span>
                        </a>
                        <a class="btn-flat waves-effect waves-teal red-text delete-button"
                           href="{% url "timetable_delete_hint" hint.id %}">
                            <i class="material-icons left">delete</i>
                            <span class="hide-on-small-only">Löschen</span>
                        </a>

                    </div>
                    <div>
                        <p>
                            {{ hint.text|safe_markdown }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <p>
        <span class="badge new green no-float no-margin">Lehrkräfte</span> Lehrkräfte sehen den Hinweis &nbsp;&nbsp;
        <span class="badge new red no-float no-margin">Lehrkräfte</span> Lehrkräfte sehen den Hinweis
        <strong>nicht</strong>
    </p>
</main>

{% include 'partials/footer.html' %}
