<div class="card lesson-card">
    <div class="card-content">

        {# Every element of the lesson #}
        {% for element_container in col.elements %}
            <div style="
            
                    {# Display background color only if no badge exists and it is not the old room and there are no holidays #}
                    {% if not element_container.substitution.table.badge %}
                        {% if not element_container.is_old or type != 1 %}
                            {% if not element_container.is_hol %}
                                background-color: {{ element_container.element.subject.hex_color }};
                            {% endif %}
                        {% endif %}
                    {% endif %}"

                    {# Add CSS class for sub when it's a sub #}
                 class="{% if element_container.substitution %}{% if element_container.substitution.table.is_event %}lesson-with-event{% else %}lesson-with-sub{% endif %}{% endif %}">
                <p>
                    {% if element_container.is_hol %}

                        {# <p><strong>{ element_container.element.holiday_reason }}</strong></p>span class="badge new blue darken-2">Schulfrei</span>#}

                    {% elif element_container.substitution %}
                        {# SUBSTITUTION #}
                        {% if type == 1 and element_container.is_old %}
                            {# When it's the old room, let it empty #}

                        {% elif element_container.substitution.table.badge %}
                            {# When a badge (cancellation, etc.) exists, then display it with the teacher#}

                            {# Class or room > Display teacher #}
                            {% if type == 2 or type == 1 %}
                                {% if element_container.element.teacher %}
                                    <span data-position="bottom" class="tooltipped"
                                          data-tooltip="{{ element_container.element.teacher }}">
                                        <a
                                                href="{% url "timetable_smart_plan" "teacher" element_container.element.teacher.id %}">{{ element_container.element.teacher.shortcode }}</a>
                                    </span>
                                    <br>
                                {% endif %}
                            {% endif %}

                            {# Badge #}
                            <span class="badge new green darken-2">{{ element_container.substitution.table.badge }}</span>



                        {% else %}
                            {# Display sub #}

                            {% with sub=element_container.substitution.table %}
                                {# Teacher or room > display classes #}
                                {% if type == 0 or type == 1 %}
                                    {{ element_container.substitution.table.classes }}
                                {% endif %}

                                {# Display teacher with tooltip #}
                                {% include "timetable/subs/teacher.html" %}

                                {# Display subject #}
                                {% include "timetable/subs/subject.html" %}

                                {# Teacher or class > display room #}
                                {% if type == 0 or type == 2 %}
                                    {% include "timetable/subs/room.html" %}
                                {% endif %}
                            {% endwith %}
                        {% endif %}

                        {# When it isn't a room or the old plan, then display the extra text (e. g. work orders) AND NOT A EVENT#}
                        {% if not   element_container.substitution.table.is_event %}
                            {% if not type == 1  or not element_container.is_old %}
                                <br>
                                <small>
                                    <em>{{ element_container.substitution.table.text|default:"" }}</em>
                                </small>
                            {% endif %}
                        {% endif %}
                        {# Display the extra text for events #}
                        {% if element_container.substitution.table.is_event %}
                            {% if type == 0 and element_container.substitution.table.classes == "" and element_container.substitution.table.rooms|length == 0 and element_container.substitutions.table.teachers|length == 0 %}
                                <em>{{ element_container.substitution.table.text|default:"" }}</em>
                            {% elif type == 2 and  element_container.substitution.table.teachers|length == 0  and  element_container.substitution.table.rooms|length == 0 %}
                                <em>{{ element_container.substitution.table.text|default:"" }}</em>
                            {% elif type == 1  and  element_container.substitution.table.teachers|length == 0 and element_container.substitution.table.classes == "" %}
                                <em>{{ element_container.substitution.table.text|default:"" }}</em>
                            {% else %}
                                <br>
                                <small>
                                    <em>{{ element_container.substitution.table.text|default:"" }}</em>
                                </small>
                            {% endif %}
                        {% endif %}

                    {% else %}
                        {# Normal plan #}

                        {# Teacher or room > Display classes #}
                        {% if type == 0 or type == 1 %}
                            {#                            {{ element_container.element.classes }}#}
                            {% if element_container.element.classes %}
                                <a href="{% url "timetable_smart_plan" "class" element_container.element.classes.0.id %}">
                                    {{ element_container.classes_formatted }}
                                </a>
                            {% endif %}
                        {% endif %}

                        {# Class or room > Display teacher #}
                        {% if type == 2 or type == 1 %}
                            {% if element_container.element.teacher %}
                                <span data-position="bottom" class="tooltipped"
                                      data-tooltip="{{ element_container.element.teacher }}">
                                    <a href="{% url "timetable_smart_plan" "teacher" element_container.element.teacher.id %}">
                                        {{ element_container.element.teacher.shortcode }}
                                    </a>
                                </span>
                            {% endif %}
                        {% endif %}

                        {# Display subject #}
                        <strong>{{ element_container.element.subject.shortcode }}</strong>

                        {# Teacher or class > Display room #}
                        {% if type == 0 or type == 2 %}
                            <span class="tooltipped" data-position="bottom"
                                  data-tooltip="{{ element_container.room.name }}">
                                {% if element_container.room %}
                                    <a href="{% url "timetable_smart_plan" "room" element_container.room.id %}">
                                        {{ element_container.room.shortcode }}
                                    </a>
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endif %}
                </p>
            </div>

        {% endfor %}
    </div>
</div>
