{% include 'partials/header.html' %}


<main>
    <div class="row nomargin">
        <div class="col m12 s12 l6">
            <h4>
                Mein Plan <i>{{ el }}</i>
                <span class="badge new primary-color ">SMART PLAN</span>
            </h4>
            <a class="btn-flat waves-effect waves-light" href="{% url "timetable_smart_plan"  raw_type id %}">Wochenplan
                anzeigen</a>
        </div>
    </div>


    <script type="text/javascript">
        var dest = "/timetable/my/";
    </script>

    <div class="row">
        <div class="timetable-plan col s12 m12 l6">

            {#  Date #}

            <div class="row">
                <div class="col s12">
                    <div class="card timetable-title-card">
                        <div class="card-content">
                    <span class="card-title">
                        {% include "timetable/datepicker.html" %}
                        {% if holiday %}
                            <span class="badge new blue center-align holiday-badge">{{ holiday.0 }}</span>
                        {% endif %}
                    </span>
                        </div>
                    </div>

                </div>
            </div>
            {#  Lessons #}
            {% for row, time in plan %}
                <div class="row">
                    <div class="col s4">
                        <div class="card timetable-title-card">
                            <div class="card-content">

                                {# Lesson number #}
                                <span class="card-title left">
                                {{ time.number_format }}
                             </span>

                                {# Time dimension of lesson #}
                                <div class="right timetable-time grey-text text-darken-2">
                                    <span>{{ time.start|date:"H:i" }}</span><br>
                                    <span>{{ time.end|date:"H:i" }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% for col in row %}
                        {% if forloop.counter0 == week_day %}
                            <div class="col s8">
                                {# A lesson #}
                                {% include "timetable/lesson.html" %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>
</main>

{% include 'partials/footer.html' %}
