{% include 'partials/header.html' %}


<main>
    <div class="row nomargin">
        <div class="col m12 s12 l6">
            <h4>
                Mein Plan
                <span class="badge new primary-color ">SMART PLAN</span>
            </h4>
            <h6>für <em>{{ el }}</em></h6>
        </div>
    </div>


    <script type="text/javascript">
        var dest = "/timetable/my/";
    </script>
    <div class="row">
        <div class="col s12 m6">
            {% include "timetable/datepicker.html" %}
        </div>
    </div>
    {#    <h5>{{ date|date:"l, j. F Y" }}</h5>#}
    <div class="row">
        <div class="timetable-plan col s12 m12 l6">

            {#  Week days #}
            <div class="row">
                <div class="col s6">

                </div>
                {% for week_daye in week_days %}
                    {% if forloop.counter0 == week_day %}
                        <div class="col s6">
                            <div class="card timetable-title-card">
                                <div class="card-content">
                    <span class="card-title">
                        {{ week_daye }}
                    </span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {#  Lessons #}
            {% for row, time in plan %}
                <div class="row">
                    <div class="col s6">
                        <div class="card timetable-title-card">
                            <div class="card-content">

                                {# Lesson number #}
                                <span class="card-title left">
                                {{ time.number_format }}
                             </span>

                                {# Time dimension of lesson #}
                                <div class="right timetable-time grey-text text-darken-2">
                                    <span>{{ time.start|date:"H:i" }}</span><br>
                                    <span>{{ time.end|date:"H:i" }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% for col in row %}
                        {% if forloop.counter0 == week_day %}
                            <div class="col s6">
                                {# A lesson #}
                                {% include "timetable/lesson.html" %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>
</main>

{% include 'partials/footer.html' %}
