{% include 'partials/header.html' %}
{% load copy_filter %}
<script type="text/javascript">
    {% if smart %}
        var week = {{ selected_week }};
        var year = {{ selected_year }};
        function goToCalendarWeek(cw, year) {
            window.location.href = "{% url "timetable_smart_plan" raw_type id %}/" + year + "/" + cw;
        }
        function onCalendarWeekChanged(where) {
            goToCalendarWeek($(where).val(), year);
        }

        function weekBefore() {
            if (week > 1) {
                goToCalendarWeek(week - 1, year)
            } else {
                goToCalendarWeek(52, year - 1)
            }
        }

        function weekNext() {
            if (week < 52) {
                goToCalendarWeek(week + 1, year);
            } else {
                goToCalendarWeek(1, year + 1);
            }
        }

        $(document).ready(function () {
            $("#calendar-week-1").change(function () {
                onCalendarWeekChanged("#calendar-week-1");
            });
            $("#calendar-week-2").change(function () {
                onCalendarWeekChanged("#calendar-week-2");
            });
            $("#calendar-week-3").change(function () {
                onCalendarWeekChanged("#calendar-week-3");
            });
            $("#week-before").click(weekBefore);
            $("#week-next").click(weekNext);
        });
    {% endif %}
</script>
<main>
    <div class="row no-margin">
        <div class="col s8 m6 l8 xl9">
            <h3>
                Stundenplan <i>{{ el }}</i>
            </h3>

            {# Show class teacher and deputy class teacher #}
            {% if type == 2 and el.teachers %}
                <h5>Klassenlehrkräfte:
                    {% for teacher in el.teachers %}

                        <span data-position="bottom" class="tooltipped"
                              data-tooltip="{{ teacher }}">
                            <a href="{% url "timetable_smart_plan" "teacher" teacher.id %}">
                                {{ teacher.shortcode }}</a>
                        </span>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </h5>
            {% endif %}
        </div>
        {# Show print button only if not on mobile #}
        <div class="col s4 m6 l4 xl3 right align-right no-print">
            <a class="waves-effect waves-teal btn-flat btn-flat-medium right hide-on-small-and-down" id="print">
                <i class="material-icons center">print</i>
            </a>
        </div>
    </div>
    <div class="row">
        {% if smart %}
            {# Show if smart #}
            {# Toggle button to regular and smart plan badge #}
            <div class="row s12 m6 left">
                <span class="badge new primary-color left smart-plan-badge">SMART PLAN</span>

                <a class="waves-effect waves-light btn-flat no-print" style="padding-left: 3px; padding-right: 3px;"
                   href="{% url "timetable_regular_plan" raw_type id "regular" %}">
                    <i class="material-icons left">slideshow</i>
                    REGELPLAN ANZEIGEN
                </a>
            </div>

            {# Week select #}
            <div class="col s12 m6 right">
                <div class="col s2 no-print">
                    <a class="waves-effect waves-teal btn-flat btn-flat-medium right" id="week-before">
                        <i class="material-icons center">navigate_before</i>
                    </a>
                </div>
                <div class="input-field col s8 no-margin hide-on-med-and-up">
                    <select id="calendar-week-1">
                        {% for week in weeks %}
                            <option value="{{ week.calendar_week }}" {% if week.calendar_week == selected_week %}
                                    selected {% endif %}> KW {{ week.calendar_week }}
                                ({{ week.first_day|date:"j.n" }}–{{ week.last_day|date:"j.n" }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s8 no-margin hide-on-med-and-down">
                    <select id="calendar-week-2">
                        {% for week in weeks %}
                            <option value="{{ week.calendar_week }}" {% if week.calendar_week == selected_week %}
                                    selected {% endif %}> KW {{ week.calendar_week }} ({{ week.first_day|date:"j.n.Y" }}–{{ week.last_day|date:"j.n.Y" }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s8 no-margin hide-on-small-and-down hide-on-large-only">
                    <select id="calendar-week-3">
                        {% for week in weeks %}
                            <option value="{{ week.calendar_week }}" {% if week.calendar_week == selected_week %}
                                    selected {% endif %}> KW {{ week.calendar_week }}
                                ({{ week.first_day|date:"j.n" }}–{{ week.last_day|date:"j.n.Y" }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col s2 no-print">
                    <a class="waves-effect waves-teal btn-flat btn-flat-medium left" id="week-next">
                        <i class="material-icons center">navigate_next</i>
                    </a>
                </div>
            </div>

        {% else %}
            {# Show if regular #}
            <a class="waves-effect waves-light btn-flat no-print"
               href="{% url "timetable_smart_plan" raw_type id %}">
                <i class="material-icons left">slideshow</i>
                SMART PLAN ANZEIGEN
            </a>
        {% endif %}
    </div>

    {% include "timetable/hintsinplan.html" %}

    {# show full timetable on tablets, laptops and pcs #}
    <div class="timetable-plan hide-on-small-and-down">

        {#  Week days #}
        <div class="row">
            <div class="col s2">

            </div>
            {# Show short weekdays on tablets #}
            {% for day in short_week_days|deepcopy %}
                <div class="col s2 hide-on-large-only">
                    <div class="card timetable-title-card">
                        <div class="card-content">
                            <span class="card-title">
                                {{ day.0 }}
                            </span>
                            {% if day.1 %}
                                <span class="badge new blue center-align holiday-badge">{{ day.1.0 }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {# Show long weekdays elsewere #}
            {% for day in long_week_days|deepcopy %}
                <div class="col s2 hide-on-med-only">
                    <div class="card timetable-title-card">
                        <div class="card-content">
                            <span class="card-title">
                                {{ day.0.0 }}
                            </span>
                            {% if day.1 %}
                                <span class="badge new blue center-align holiday-badge">{{ day.1.0 }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {#  Lessons #}
        {% for row, time in plan|deepcopy %}
            <div class="row">
                <div class="col s2">
                    <div class="card timetable-title-card">
                        <div class="card-content">

                            {# Lesson number #}
                            <span class="card-title left">
                                {{ time.number_format }}
                            </span>

                            {# Time dimension of lesson #}
                            <div class="right timetable-time grey-text text-darken-2">
                                <span>{{ time.start|date:"H:i" }}</span>
                                <br>
                                <span>{{ time.end|date:"H:i" }}</span>
                            </div>
                        </div>
                    </div>

                </div>
                {% for col in row %}
                    {# A lesson #}
                    <div class="col s2">
                        {% include "timetable/lesson.html" %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {# show 5 seperate ones on mobiles #}
    <div class="timetable-plan hide-on-med-and-up">
        {% for day in long_week_days|deepcopy %}
            <div class="card timetable-mobile-title-card">
                <div class="card-content">
                    <span class="card-title">
                        {{ day.0.0 }}
                    </span>
                    {% if day.1 %}
                        <span class="badge new blue center-align holiday-badge">{{ day.1.0 }}</span>
                    {% endif %}
                    &nbsp;
                </div>
            </div>
            {% for row, time in plan|deepcopy %}
                <div class="row">
                    <div class="col s4">
                        <div class="card timetable-title-card">
                            <div class="card-content">

                                {# Lesson number #}
                                <span class="card-title left">
                                    {{ time.number_format }}
                                </span>

                                {# Time dimension of lesson #}
                                <div class="right timetable-time grey-text text-darken-2">
                                    <span>{{ time.start|date:"H:i" }}</span>
                                    <br>
                                    <span>{{ time.end|date:"H:i" }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% for col in row|deepcopy %}
                        {% if forloop.counter0 == day.0.1 %}
                            <div class="col s8">
                                {# A lesson #}
                                {% include "timetable/lesson.html" %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</main>

{% include 'partials/footer.html' %}
