{% include 'partials/header.html' %}

<script type="text/javascript">
    function updateDatepicker() {
        $("#date").val(formatDate(activeDate));
    }

    function update() {
        console.log("Render new.");

        updateDatepicker();
    }

    function loadNew() {
        window.location.href = "/timetable/substitutions/" + formatDateForDjango(activeDate);
    }

    function onDateBeforeClick() {
        activeDate.setDate(activeDate.getDate() - 1);
        update();
        loadNew();
    }

    function onDateNextClick() {
        activeDate.setDate(activeDate.getDate() + 1);
        update();
        loadNew();
    }

    var activeDate = new Date({{ date_js }});

    $(document).ready(function () {
        $("#date-before").click(onDateBeforeClick);
        $("#date-next").click(onDateNextClick);

        // Print the site
        $("#print").click(function () {
            window.print();
        });

        update();
    })
</script>

<main>
    <h3>Vertretungen</h3>

    <div class="row">
        <div class="col s12 m6 l4 xl3">
            <div class="col s2">
                <a class="waves-effect waves-teal btn-flat btn-flat-medium right" id="date-before">
                    <i class="material-icons center">navigate_before</i>
                </a>

            </div>
            <div class="col s8">
                <input type="text" class="datepicker center-align" id="date">
            </div>
            <div class="col s2">
                <a class="waves-effect waves-teal btn-flat btn-flat-medium left" id="date-next">
                    <i class="material-icons center">navigate_next</i>
                </a>
            </div>
        </div>
        <div class="col l4 xl6">
        </div>
        <div class="col s12 m6 l4 xl3 right align-right">
            <a class="waves-effect waves-teal btn-flat btn-flat-medium right" id="print">
                <i class="material-icons center">print</i>
            </a>
        </div>
    </div>

    <h5>{{ date|date:"l, j. F Y" }}</h5>

    <table>
        <thead>
        <tr>
            <th><i class="material-icons">access_time</i></th>
            <th><i class="material-icons">people</i></th>
            <th>Lehrer</th>
            <th>Fach</th>
            <th>Raum</th>
            <th><i class="material-icons">info</i></th>
            <th>i</th>
        </tr>
        </thead>
        <tbody>
        {% for sub in sub_table %}
            <tr
                    {#                    {% if sub.type == 1 or sub.type == 2 %}#}
                    {#                        class="green-text"#}
                    {#                    {% elif sub.type == 3 %}#}
                    {#                        class="blue-text"#}
                    {#                    {% endif %}#}
                    class="{{ sub.css_class }}"
            >
                <td>
                    <strong>
                        {#                        {% if sub.type == 3 %}#}
                        {#                            {{ sub.lesson|add:-1 }}./{{ sub.lesson }}.#}
                        {#                        {% else %}#}
                        {#                            {{ sub.lesson }}.#}
                        {#                        {% endif %}#}
                        {{ sub.lesson }}
                    </strong>
                </td>
                <td>
                    {#                    {% for class_ in sub.classes %}#}
                    {#                        {{ class_.name }}#}
                    {#                    {% endfor %}#}
                    {{ sub.classes }}
                </td>
                <td>
                    {#                    {% if sub.type == 1 %}#}
                    {#                        <s>{{ sub.teacher_old.shortcode }}</s>#}
                    {#                    {% elif sub.teacher_new and sub.teacher_old %}#}
                    {#                        <s>{{ sub.teacher_old.shortcode }}</s> →#}
                    {#                        <strong>{{ sub.teacher_new.shortcode }}</strong>#}
                    {#                    {% elif sub.teacher_new and not sub.teacher_old %}#}
                    {#                        <strong>{{ sub.teacher_new.shortcode }}</strong>#}
                    {#                    {% else %}#}
                    {#                        <strong>{{ sub.teacher_old.shortcode }}</strong>#}
                    {#                    {% endif %}#}
                    {{ sub.teacher|safe }}
                </td>
                <td>
                    {#                    {% if sub.type == 3 %}#}
                    {#                        <span class="badge new blue">Aufsicht</span>#}
                    {#                    {% elif sub.type == 1 or sub.type == 2 %}#}
                    {#                        <s>{{ sub.subject_old.shortcode }}</s>#}
                    {#                    {% elif sub.subject_new and sub.subject_old %}#}
                    {#                        <s>{{ sub.subject_old.shortcode }}</s> →#}
                    {#                        <strong>{{ sub.subject_new.shortcode }}</strong>#}
                    {#                    {% elif sub.subject_new and not sub.subject_old %}#}
                    {#                        <strong>{{ sub.subject_new.shortcode }}</strong>#}
                    {#                    {% else %}#}
                    {#                        <strong>{{ sub.subject_old.shortcode }}</strong>#}
                    {#                    {% endif %}#}
                    {{ sub.subject|safe }}
                </td>
                <td>
                    {#                    {% if sub.type == 3 %}#}
                    {#                        {{ sub.corridor.name }}#}
                    {#                    {% elif sub.type == 1 or sub.type == 2 %}#}
                    {#                    {% elif sub.room_new and sub.room_old %}#}
                    {#                        <s>#}
                    {#                            {{ sub.room_old.shortcode }}#}
                    {#                        </s> → <strong>{{ sub.room_new.shortcode }}</strong>#}
                    {#                    {% elif sub.room_new and not sub.room_old %}#}
                    {#                        <strong>#}
                    {#                            {{ sub.room_new.shortcode }}#}
                    {#                        </strong>#}
                    {#                    {% else %}#}
                    {#                        <strong>#}
                    {#                            {{ sub.room_old.shortcode }}#}
                    {#                        </strong>#}
                    {#                    {% endif %}#}
                    {{ sub.room|safe }}
                </td>
                <td>
                    {#                    <em>{{ sub.text|default:"" }}</em>#}
                    <em>{{ sub.text|default:"" }}</em>
                </td>
                <td>
                    {#                    {% if sub.type  == 1 %}#}
                    {#                        <span class="badge new green">#}
                    {#                        Schüler frei</span>#}
                    {#                    {% elif sub.type == 2 %}#}
                    {#                        <span class="badge new green">#}
                    {#                            Lehrer frei</span>#}
                    {#                    {% endif %}#}
                    {% if sub.badge %}
                        <span class="badge new green">{{ sub.badge }}</span>
                    {% endif %}

                    {#                    <small>{{ sub.id }} {{ sub.lesson_id }}</small>#}
                    <small>{{ sub.extra }}</small>
                </td>
            </tr>
            {#        {{ sub.date }}#}
        {% endfor %}
        </tbody>
    </table>

</main>

{% include 'partials/footer.html' %}
