{% extends "core/base.html" %}
{% load i18n %}


{% block content %}
  <div class="container">
    <div class="card red">
      <div class="card white-text">
        <i class="material-icons small">error_outline</i>
        <span class="card-title">{% blocktrans %}Error (403): You are not allowed to access the requested page or
          object.{% endblocktrans %}</span>
        <p>
          {% blocktrans %}
            If you think this is an error in AlekSIS, please contact your site
            administrators:
          {% endblocktrans %}
        </p>
        <ul>
          {% for admin in ADMINS %}
            <li>
              {{ admin.0 }}
              &lt;<a class="blue-text text-lighten-2" href="mailto:{{ admin.1 }}">{{ admin.1 }}</a>&gt;
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
