{% extends "core/base.html" %}
{% load i18n %}


{% block content %}
 <div class="container">
  <div class="card red">
   <div class="card-content white-text">
    <div class="material-icons small">error_outline</div>
    <span class="card-title">{% blocktrans %}The maintenance mode is currently enabled. Please try again later.{% endblocktrans %}</span>
    <p>
     {% blocktrans %}
      This page is currently unavailable. If this error stays, contact your site administrators:
     {% endblocktrans %}
    </p>
    <div class="card-caction">
     {% for admin in ADMINS %}
      <li>
       {{ admin.0 }}
       &lt;
       <a href="mailto:{{ admin.1 }}">
        {{ admin.1 }}
       </a>
       &gt;
      </li>
     {% endfor %}
    </div>
   </div>
  </div>
 </div>
{% endblock %}
