<div class="row" id="alert_box">
    <div class="col s12 m12">
        <div class="card {{ color }} darken-1">
            <div class="row">
                <div class="col s12 m10">
                    <div class="card-content white-text">
                        {{ msg }}
                    </div>
                </div>
                <div class="col s12 m2">
                    <a class="btn-flat right waves-effect waves-{{ color }}" id="alert_close">
                        <i class="material-icons center white-text">close</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>